[2019-02-07 20:55] jywarren opened #1 "container, travis CI setup and tests"
Hi @tech4GT ! looking cool! I think perhaps next steps would be to set up TravisCI, and potentially a Dockerfile?

Then we can think about some basic tests. Great start here!

* [x] dockerfile
* [x] Travis
* [x] tests -exist
* [x] tests -- passing

[2019-02-07 20:57] jywarren commented on #1
Also heads up i changed the default branch to `main` -- best to do that early on to avoid issues later!

[2019-02-07 20:57] jywarren commented on #1
@icarito I think once this starts to come together, we can begin working on getting this running in Google Cloud!

[2019-02-08 11:06] tech4GT commented on #1
Hi jeff, basic tests are running and travis is setup, but its failing while the tests run fine on my machine, would have to debug this!

[2019-02-08 15:34] jywarren commented on #1
Ah, here? https://github.com/publiclab/image-sequencer-app/pull/2 Will comment there.

[2019-02-08 15:35] jywarren commented on #1
Er, actually can you open a new PR where we can debug that? https://travis-ci.com/publiclab/image-sequencer-app/builds/100217381

[2019-02-08 17:53] tech4GT commented on #1
<img width="1439" alt="screen shot 2019-02-08 at 11 23 12 pm" src="https://user-images.githubusercontent.com/25617855/52496117-87b23e00-2bf8-11e9-84df-4a4a220cf7e1.png">

[2019-02-08 17:53] tech4GT commented on #1
I'll look into this tomorrow!

[2019-02-08 18:08] jywarren commented on #1
awesome!

On Fri, Feb 8, 2019 at 12:54 PM Varun Gupta <notifications@github.com>
wrote:

[2019-02-09 10:09] tech4GT commented on #1
Opening a PR to debug this now!

[2019-02-09 11:20] tech4GT commented on #1
Hi @jywarren I have fixed the tests and added some more! This is now ready to be deployed as a docker container, so priority list right now is:
- Deploy this to google cloud engine as a docker container
- Fully opaque meta modules
- Optimizations to pixelManipulation API

[2019-02-09 11:21] tech4GT commented on #1
@icarito Can you share some resources related to deployment here? Thanks :)

[2019-02-09 17:35] tech4GT commented on #1
@jywarren @icarito I have setup docker too, we can now deploy this to gCloud, Also now we can independently work on stuff in is like optimizations and meta-modules.

[2019-02-09 17:41] jywarren commented on #1
Wow this is cool. We issued you a Google cloud functions account, did you
see? You should be able to plug in a node module via npm!

On Sat, Feb 9, 2019, 12:36 PM Varun Gupta <notifications@github.com wrote:

[2019-02-09 17:45] tech4GT commented on #1
I did not! Where can I find the credentials?

[2019-02-09 17:55] jywarren commented on #1
I sent them to your email, did you see?

On Sat, Feb 9, 2019, 12:46 PM Varun Gupta <notifications@github.com wrote:

[2019-02-09 17:57] tech4GT commented on #1
I don't think I got it, could you send it again please?

[2019-03-19 12:42] jywarren opened #6 "How to format incoming requests w multiple images?"
Should it be a Json format with an array of steps, and should we start by importing a list of URLs and assigning them short variable names in the Json?

Or should we basically be submitting a Js function that runs using an array of URLs as additional input?

[2019-03-19 12:42] jywarren commented on #6
@tech4gt how did you address this in the initial implementation? Thanks!!

[2019-03-19 13:06] tech4GT commented on #6
Hi Jeff, right now I am taking the urls as an array in the request json and the steps are taken as a sequencer string.

[2019-03-19 13:15] jywarren commented on #6
Oh ok and how do we map from the array to the steps? I guess we can just do
it manually for now and figure out a flexible architecture later. Thanks!

On Tue, Mar 19, 2019, 9:06 AM Varun Gupta <notifications@github.com> wrote:

[2019-03-19 13:17] harshkhandeparkar commented on #6
Is there a way to compress the images if they exceed a limit. Maybe a size limit like 20MB?

[2019-03-19 13:23] tech4GT commented on #6
@jywarren For now I used a common string but I'll update it to this following architecture
[code]

[2019-03-19 13:25] tech4GT commented on #6
We can then expand each of the images with as much metadata as we want like coordinates and orientation.

[2019-03-19 13:38] jywarren commented on #6
Oh but the images could be very large, we're only transmitting their URLs
on the initial request. I think they may be over 100mb once downloaded.

On Tue, Mar 19, 2019, 9:25 AM Varun Gupta <notifications@github.com> wrote:

[2019-03-19 13:42] tech4GT commented on #6
But it's gonna be that anyway, right? I mean if we transfer the image in part initially from the client side, then too the total data remains the same, I think the best option we have is to compress them in mapknitter and host those images on the urls. We can then create a step like decompress which gets the original image back.

[2019-03-19 13:46] jywarren commented on #6
Ah I see. But the image may be remotely stored in aws or Google cloud, so
we should standardize on sending the URLs first. Later I agree we could
think of transmission speed optimization by compressing, but we might be
able to use on-the-fly gzip in nginx configuration, and do it at that level
instead of building it into the architecture. Sound good?

On Tue, Mar 19, 2019, 9:42 AM Varun Gupta <not

[2019-03-19 13:52] tech4GT commented on #6
Yeah this sounds good to me!! :+1:

[2019-03-22 08:39] tech4GT commented on #6
Hi @jywarren , I updated the api structure and now on using this url
`http://localhost:4000/api/v1/process/?images=[{"url":"./Images/Mario.png","sequence":"invert"},{"url":"./Images/Mario.png","sequence":"colormap"}]`

this is the result:
<img width="1440" alt="Screen Shot 2019-03-22 at 2 08 08 PM" src="https://user-images.githubusercontent.com/25617855/54810366-f381cf00-4cab-11e9-9fc9-bcc8364b10b

[2019-03-22 08:40] tech4GT commented on #6
I think this completes our part 1 majorly? Should I get started on the stitch module using https://github.com/publiclab/mapknitter-exporter/blob/main/lib/mapknitterExporter.rb#L252 as reference??

[2019-03-22 19:05] jywarren commented on #6
OK, this is good; however, I wonder if we should give each incoming image
an id, and actually make it a step, in an associative array, so:

/api/v1/process/?steps={1:{"url":"./Images/Mario.png","sequence":"invert"},2:{"url":"./Images/Mario.png","sequence":"colormap"}}

Is this valid JSON?

But then we could add steps that run once other ones are done, but we need
to think how we'd represent this..

[2019-03-24 06:47] tech4GT commented on #6
Hmm, this sounds right! Maybe what we can do is have a common sequence that runs once others are done and then every image can have a sequence property which is specific to that image
[code]

[2019-03-24 06:47] tech4GT commented on #6
Once we get this sorted we can move on to part 2 finally :smiley:

[2019-03-24 13:52] jywarren commented on #6
I like separating steps from images because we can then use images more
than once, you know? And if we mark some steps as depending on others,
using their unique IDs, we can later optimize which can run in parallel.
What do you think?

On Sun, Mar 24, 2019, 2:48 AM Varun Gupta <notifications@github.com> wrote:

[2019-03-24 16:23] tech4GT commented on #6
Hmm, Sure! So should I update it according to the format you suggested earlier?
One thing I can't wrap my head around though, is that how would we use these IDs to generate the dependency info?

[2019-03-25 20:10] jywarren commented on #6
I'm thinking,

1. we can have a trigger that runs at the start and whenever a step
completes,
2. then we check each next step with a conditional that checks if it's
prerequisites are complete, and starts them if so
3. when they complete, they also check remaining steps in order to see if
their prerequisites are complete

I'm brainstorming here, so maybe we need to think this through more before
im

[2019-03-26 16:34] tech4GT commented on #6
Hello Jeff, sorry for the late reply! Okay this sounds good!!
- Every Image has an ID which is used for ordering and dependency resolution
- Inside the each image object we can have the properties, `pre` and `post` which will be specific to that particular image.
- We also have a `requisites` property on the image which is an array of IDs which need to be completed before this can be started.

[2019-03-26 16:36] tech4GT commented on #6
This makes a lot of sense, I was meaning to ask that if we don't mind using some extra memory, I can implement a stripped down version of the `directed graph data structure`. We can then run a topological sorting algorithm on it which will take care of the dependencies. How does that sound?

[2019-03-26 16:40] tech4GT commented on #6
So the API request will kind of look like
[code]

[2019-03-27 12:19] tech4GT commented on #6
cc @jywarren

[2019-03-27 13:03] HarshKhandeparkar opened #7 "Img src attr"
Here
https://github.com/publiclab/image-sequencer-app/blob/48b9a9d64b8901ef6968d39bd31c359e131c04f9/src/api/v1/index.js#L37-L41

The `img` tag that is returned has a src attribute equal to the variable `img`.
But when the Sequencer is run, the `img` is an object and its `url` property is used as its source dataURL.
Here
https://github.com/publiclab/image-sequencer-app/blob/48b9a9d64b8901ef6968d39b

[2019-03-27 13:03] harshkhandeparkar commented on #7
@tech4GT @jywarren

[2019-03-27 13:15] HarshKhandeparkar opened #8 "Improve GCloud index.js"
I think this file can be improved in many ways.
https://github.com/publiclab/image-sequencer-app/blob/48b9a9d64b8901ef6968d39bd31c359e131c04f9/cloud/index.js#L9-L28

* Firstly, I think `const ts0` and `const t21` are typos and should have been `t0` and `t1` because on line 24, `runtime: t1-t0`. (Please correct me if I'm wrong)
* `exports.helloworld` can be changed to maybe `benchmark` or `test`
*

[2019-03-27 13:15] harshkhandeparkar commented on #8
@jywarren @tech4GT

[2019-03-27 13:22] HarshKhandeparkar opened #9 "Change package.json"
https://github.com/publiclab/image-sequencer-app/blob/48b9a9d64b8901ef6968d39bd31c359e131c04f9/package.json#L10-L11

* The author can (i guess) be publiclab
* The license should be `GPL-3.0` and not `ISC`

https://github.com/publiclab/image-sequencer-app/blob/48b9a9d64b8901ef6968d39bd31c359e131c04f9/package.json#L2-L4

* The name can be more descriptive.
* The version (in my opinion) should be a p

[2019-03-27 13:23] harshkhandeparkar commented on #9
@tech4GT @jywarren I am ready to work on these issues (the ones which i have opened), I just need approval.

[2019-03-27 13:23] harshkhandeparkar commented on #8
I am ready to work on these issues (the ones which i have opened), I just need approval.

[2019-03-27 13:39] harshkhandeparkar commented on #6
* I had an idea, since upload times can be slow, how about creating multiple requests instead of one and each request can have a special ID.
* Each request can contain say *n* images or images of total size n MB. For each request with the same ID, an asynchronous (separate) thread can be opened with a maximum of let's say *t* threads. Each thread will process the img(s) it receives and put it in s

[2019-03-27 13:40] harshkhandeparkar commented on #6
cc @jywarren @tech4GT

[2019-03-27 13:42] harshkhandeparkar commented on #6
One thing is that the frontend will also have to be developed to calculate the no of requests and no of images per request and to distribute those images accordingly.

[2019-03-27 13:47] harshkhandeparkar commented on #6
* If the frontend isn't developed for this kind of behaviour, a single request with all the imgs can also be taken.
* So the server has to get the no of images `i` and the the number of requests `r`. If the number of requests is small, each request should be allowed a smaller no of images for the asynchronous processing to work efficiently. If there is a single request, no of imgs per request can

[2019-03-27 13:54] jywarren commented on #6
So one thing re: upload time is that we'll probably start by simply passing
a JSON post request to this app with URLs for each of the images, rather
than passing the full images in the request. Then the app can fetch them
when it wants. We might add ways to POST images up later, but this will be
simpler to start with.

Whoa, so would this be able to figure out the optimal pairings of image
merges

[2019-03-27 13:59] harshkhandeparkar commented on #6
@jywarren

Where would the URLs link to? Some other site like imgur? If yes, how will the user upload images to that site? Wouldn't that be a bottleneck?

[2019-03-27 14:06] harshkhandeparkar commented on #6
Also is there a way to "stream" the images? I mean the rgba data values for each pixel can be sent in a stream for a max of a few imgs at once. The output can also be received in a stream.
This method can only be used for a few modules like contrast which perform the same func on each pixel(on use changePixel func).
Maybe the optimal method can be chosen by the user(or frontend) at runtime based o

[2019-03-27 14:08] harshkhandeparkar commented on #6
My concern is that process time(local processing time) should not be less than the upload time for multiple imgs so parallelizing upload, processing and download I think can be a good way to do this. I'm not sure though.

[2019-03-27 14:23] harshkhandeparkar commented on #6
* Something like the user can create a secure connection with the server instead of just firing a request and waiting for a response.
* The input data can be streamed in case there is a lot of processing to be done. Instead of streaming bit by bit or byte by byte, we can stream image by image.
* Say 10 imgs are to be processed.
1. The first image is uploaded and is being processed.
2. In the mean

[2019-03-27 14:55] tech4GT commented on #8
Well this one is just for documentation purposes though, this is the current deployment as a cloud function that we wrote to test things out. No point putting in time one this :)

[2019-03-27 14:55] #8 closed

[2019-03-27 14:56] tech4GT commented on #7
Okay so this is because I update the values in the imgs array in the callbacks.

[2019-03-27 14:56] #7 closed

[2019-03-27 14:59] tech4GT commented on #6
@jywarren yes the sorting step should allow us to generate that structure which you have sketched on the other issue, and it would be really helpful if you can update this issue with the final request structure, I am not very clear about how we handle sequences for each image. :)

[2019-03-30 01:11] jywarren commented on #6
So, any pre/post sequences would just be added to the general steps array for now; so there'd be just one list of steps to run.

[code]

Only question left i think is... can we access the output of an earlier step we depended on?

Maybe there's a function like `getOutputOf(index)`

Or some way to specify `img` to be the output of an earlier step instead of an image?

[2019-03-30 01:13] jywarren commented on #9
I'm ok with it if @tech4GT is!

On Wed, Mar 27, 2019 at 9:23 AM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-03-30 04:16] jywarren commented on #6
Wait, what if we collapsed images array into steps, so each step instead of referencing an image id, had an input attribute which is a URL?

For those steps which depend on an earlier step, we could say `input: "$1"`, meaning the output of step 1.

What do you think?

[2019-03-30 04:19] tech4GT commented on #6
Hi @jywarren , Yeah this makes sense!!
This should work!! Now I can use the steps information to create a dependency graph of sorts and try to topologically sort it!!

[2019-03-30 04:19] jywarren commented on #6
So, just a steps array, I guess...

[code]

Any downsides?

[2019-03-30 04:20] tech4GT commented on #6
The idea of collapsing images into steps is super nice! Actually I was thinking kind of the same thing but the other way around, like collapsing steps into images but this is way better!!

[2019-03-30 04:20] tech4GT commented on #6
Yes this should work!

[2019-03-30 04:21] jywarren commented on #6
I just edited last comment, take a look! Awesome!

[2019-03-30 04:21] tech4GT commented on #6
Well one downside is that this json will be a bit tedious, for instance if the same sequence needs to be applied to multiple images, we would have to specify it step by step, again and again.

[2019-03-30 04:22] tech4GT commented on #6
But I think it's still the best of all options discussed so far!

[2019-03-30 04:22] jywarren commented on #6
I think we still need depends because if the step does importImage, it may need more than the single input to be ready before starting. But maybe we could make it required only if it's asking for more than the single input?

[2019-03-30 04:23] jywarren commented on #6
Ok let's implement this and if we learn more and come up with a new idea we can modify or add features. Thanks Varun!

[2019-03-30 13:04] tech4GT commented on #6
@jywarren Updated your comment a little bit.

[2019-03-30 13:58] tech4GT commented on #6
@jywarren Just pushed in the new code, have a look
Try this url
`http://localhost:4000/api/v1/process/?steps=[{%22id%22:1,%22input%22:%22./Images/Mario.png%22,%22steps%22:%22invert%22},{%22id%22:2,%22input%22:%22./Images/Mario.png%22,%22steps%22:%22brightness%22,%22depends%22:[1,3]},{%22id%22:3,%22input%22:1,%22steps%22:%22ndvi%22,%22depends%22:[1]},{%22id%22:4,%22input%22:3,%22steps%22:%22invert%

[2019-03-30 14:04] jywarren commented on #6
Could you set this up in a Google cloud container with help from @icarito?
This is awesome!!!

On Sat, Mar 30, 2019, 9:59 AM Varun Gupta <notifications@github.com> wrote:

[2019-03-30 14:05] tech4GT commented on #6
@jywarren I think in the current state we can set this up as cloud function for demo purpose, should I do that??

[2019-03-30 14:31] tech4GT commented on #6
@jywarren try `https://us-central1-public-lab.cloudfunctions.net/is-function/api/v1/process/?steps=[{%22id%22:1,%22input%22:%22https://publiclab.org/system/images/photos/000/006/671/original/canoe.jpg%22,%22steps%22:%22invert%22},{%22id%22:2,%22input%22:%22https://publiclab.org/system/images/photos/000/006/671/original/canoe.jpg%22,%22steps%22:%22brightness%22,%22depends%22:[1,3]},{%22id%22:3,%22i

[2019-03-30 14:39] jywarren commented on #6
Wow it's amazing!!! So these are the outputs of each step? Awesome!

Ok, so perhaps time to circle back to webgl, no? What do you think of
attempting a parallel track of openCV.js? We'd be able to compare load
times for the headless-gl versus openCV approaches.

Fantastic work, Varun!

On Sat, Mar 30, 2019, 10:32 AM Varun Gupta <notifications@github.com> wrote:

[2019-03-30 14:41] tech4GT commented on #6
Yes they are the outputs of the steps.
Sure, since divy is trying out the headless browser track, I'll look into opencv.js
Do you think we can start the part 2 btw?

[2019-03-30 16:47] jywarren commented on #6
Yes I think we're already in it even as there are a few leftovers from 1...
So, webgl distortion, compositing/canvas-size, and geotiff module? I think
those are the big remaining pieces of both parts, right?

Great work Varun!

On Sat, Mar 30, 2019, 10:41 AM Varun Gupta <notifications@github.com> wrote:

[2019-03-31 04:49] jywarren commented on #41
Yes!

https://github.com/publiclab/mapknitter/issues/296

🙌🏽

We may need to fetch the coordinates from an earlier step though, so would
need to pass along metadata somehow? Or I guess we could specify it in the
initial multi image steps Json.

On Sun, Mar 31, 2019, 12:29 AM Varun Gupta <notifications@github.com> wrote:

[2019-04-01 15:19] jywarren commented on #6
OK, so an incoming request would be based around the JSON format documented here:

https://github.com/publiclab/mapknitter-exporter-sinatra/pull/1#issuecomment-478173823

We'd need to develop a JS function to convert this into the format here:

https://github.com/publiclab/image-sequencer-app/issues/6#issuecomment-478205417

This could maybe live in this app for the time being, until we find a bet

[2019-04-01 15:25] jywarren commented on #1
Updated this now that we have tests, docker, Travis, just need to ensure the tests pass and respect the new format in #6 -- Great!!!

[2019-04-02 16:20] tech4GT commented on #6
Sure @jywarren this sounds about right! But let's defer it until we get the actual workflow going so we know exactly what information to get.

[2019-04-08 08:02] tech4GT commented on #41
@jywarren So the idea of a module which is non chain-able is a little weird inside of Image sequencer. I was thinking maybe this can output the same input image as far as Image-sequencer is concerned but it maybe outputs the other data as a file and saves it. What do you think?

[2019-04-08 08:14] harshkhandeparkar commented on #41
Why is it non chainable? Maybe we can return a new sequencer.

[2019-04-08 12:31] jywarren commented on #41
Yeah I agree, but so the idea of an output module would be one which ends
the sequence. It could still output a data url, but just not one in a
format that another standard module could read. Later this idea could
encompass an export to svg or PDF module, for example.

On Mon, Apr 8, 2019, 4:15 AM Harsh Khandeparkar <notifications@github.com>
wrote:

[2019-04-08 12:55] tech4GT commented on #41
@jywarren hmm, I’m not sure I get you completely. So I was thinking that this module can just output the input, sequencer wise but would start a file download in the browser or on the node side save a file. Is this what you are thinking too?

[2019-04-08 13:36] jywarren commented on #41
I think that'll work fine, sure! In any case we will be wanting to send it
to Google cloud storage so that sounds good. If we ever wanted a data-url
we could do that separately.

I'm mainly suggesting a new standard mental model for the general behavior
of "doing things with what image-sequencer produces", with the idea of a
new type of module called an "output module", however we don't have to
ad

[2019-04-08 13:38] tech4GT commented on #41
Aha got it! So this output module supposedly ends the sequence if applied right?

[2019-04-08 13:41] jywarren commented on #41
Yeahhh, it's not super important but with more output module types emerging
I thought it might be a good idea to create some norms around and guidance.

On Mon, Apr 8, 2019, 9:38 AM Varun Gupta <notifications@github.com> wrote:

[2019-04-14 15:56] tech4GT commented on #41
@jywarren I suppose this should be our next step??

[2019-04-14 15:57] tech4GT commented on #41
I think this is all that is left as far as Image Sequencer is concerned, correct?
Apart from this we have to make a converter function for the json request and implement the workflow but thats on the app, right?
@jywarren

[2019-04-14 15:57] harshkhandeparkar commented on #41
Hey @tech4GT I had a question, puppeteer runs a headless version of chromium right?

[2019-04-14 15:58] tech4GT commented on #41
Depends, `puppeteer-core` can utilize whatever browser you have installed, it does not explicitly download chromium.

[2019-04-14 16:01] harshkhandeparkar commented on #41
Can it be forced or add a rule to prioritize using firefox? Can it even use firefox btw?

[2019-04-16 16:57] tech4GT commented on #41
@jywarren would love your input here, thanks! :smile:

[2019-04-16 19:57] jywarren commented on #41
Ah, well we do need the webgl-distort module in your new gl code, so we can
go through the full distortion + compositing sequence with each image,
right? Thanks!

On Tue, Apr 16, 2019 at 3:41 PM Varun Gupta <notifications@github.com>
wrote:

[2019-04-16 19:59] tech4GT commented on #41
Oh sure! Do you want me to make webgl-distort into a is-module. Actually My exams start next week so I want to get this done before that. I think we have most of the pieces, major work remains in glueing them together on the is-app, correct?

[2019-04-16 20:49] jywarren commented on #41
Yes, that's right. I do think we need the webgl-distort module in order to
do this... I think we could take on the remainder while you're on exams,
though!

I think the Geotiff lib is less important -- it's a final export step once
the rest is running. Can we get the webgl-distort working, which I think is
the last major piece? Thank you!!!

On Tue, Apr 16, 2019 at 4:00 PM Varun Gupta <notificatio

[2019-04-17 15:31] tech4GT commented on #41
Working on webgl-distort now!

[2019-04-17 15:33] harshkhandeparkar commented on #41
@jywarren @tech4GT the geotiff module just exports the image as a `.tiff` right?

[2019-04-19 20:35] #1 closed

[2019-04-19 20:43] jywarren commented on #6
Shall we point at new `image-sequencer v3.3.0` and run on a new string...

`https://us-central1-public-lab.cloudfunctions.net/is-function/api/v1/process/?steps=[{"id":1,"input":"https://publiclab.org/i/31655.jpg","steps":"webgl-distort"}]`

`https://us-central1-public-lab.cloudfunctions.net/is-function/api/v1/process/?steps=[{"id":1,"input":"https://publiclab.org/i/31655.jpg","steps":"webgl-distor

[2019-04-19 20:46] jywarren commented on #6
I also made a gist of the script: https://gist.github.com/jywarren/7721a38725affdbc4fad2598ff1be59e

[2019-04-19 21:25] jywarren commented on #6
OK, getting very close here, it can't read the `|` syntax for properties...:

[code]

[2019-04-19 21:29] jywarren commented on #6
OK, removing the parameters, to just use the default `webgl-distort` settings, finally it tried to boot Chrome!

`https://us-central1-public-lab.cloudfunctions.net/is-function/api/v1/process/?steps=[{"id":1,"input":"https://publiclab.org/i/31655.jpg","steps":"webgl-distort"}]`

But it did not succeed:

[code]

[2019-04-19 21:30] jywarren commented on #6
https://github.com/karma-runner/karma-chrome-launcher/issues/158

[2019-04-19 22:02] jywarren commented on #6
OK, also opened https://github.com/publiclab/image-sequencer/issues/1033 and https://github.com/publiclab/image-sequencer/issues/1032 which also need to be solved before this will run. 🎉

[2019-04-19 22:21] jywarren commented on #6
Once we can confirm this is running, we'll need to make a converter function from the `input.json` format in https://github.com/publiclab/mapknitter-exporter-sinatra/pull/1#issuecomment-478173823 to this URL format shown here:

`https://us-central1-public-lab.cloudfunctions.net/is-function/api/v1/process/?steps=[{"id":1,"input":"https://publiclab.org/i/31655.jpg","steps":"webgl-distort{nw:0,101|ne

[2019-04-30 17:54] jywarren commented on #6
https://github.com/publiclab/image-sequencer/issues/1040

[2019-04-30 20:23] jywarren commented on #6
OK, well -- with a small image, this works!!!

`https://us-central1-public-lab.cloudfunctions.net/is-function-edge/api/v1/process/?steps=[{%22id%22:1,%22input%22:%22https://i.publiclab.org/system/images/photos/000/000/354/thumb/Boots-ground-02.png%22,%22steps%22:%22webgl-distort%22}]`

Input:

![](https://i.publiclab.org/system/images/photos/000/000/354/thumb/Boots-ground-02.png)

Output:

![image

[2019-04-30 20:27] jywarren commented on #6
Trying something that doesn't require Puppeteer, to confirm that we can do this `overlay` thing: https://us-central1-public-lab.cloudfunctions.net/is-function-edge/api/v1/process/?steps=[{%22id%22:1,%22input%22:%22https://publiclab.org/i/31655.jpg%22,%22steps%22:%22colormap%22},{%22id%22:2,%22input%22:1,%22steps%22:%22import-image{url:https://publiclab.org/i/31655.jpg},overlay%22}]

**Update:** OK

[2019-05-01 14:22] jywarren opened #10 "Function to parse warpables.json into a multi-sequencer request in GCloud"
We now have a basic multi-sequencer running in GCloud, although it's struggling with some bugs and performance issues -- see #6. Once we address those, we'll need a function which can fetch a warpables.json file (or receive it as JSON) and initiate a multi-sequencer call to GCloud.

Here is an example map with multiple images:

https://mapknitter.org/maps/ceres--2/ \ https://mapknitter.org/maps/ce

[2019-05-01 14:38] jywarren commented on #10
For starters, we can simply use `lat/lon` and scale them to use as pixel values. But a follow-up step will require using converters from `lat/lon` to `x,y`; there are a few available, such as:

* https://github.com/jywarren/cartagen/blob/b348dd06e2d1a69936826e9ef4e6f9fa0ed4a060/src/mapping/projection.js#L45-L50
* http://proj4js.org/ (not sure how to use this one, but think it'd be `proj4("WGS84",

[2019-05-08 16:08] tech4GT commented on #6
@jywarren Is the parsing error specific to google cloud or are we facing it locally too?

[2019-05-08 16:09] tech4GT commented on #6
Can you guide me to replicate the error locally?

[2019-05-08 22:47] jywarren commented on #6
I found that I could get it to happen on Google Cloud, but ALSO using the
CLI interface locally.

On Wed, May 8, 2019 at 12:09 PM Varun Gupta <notifications@github.com>
wrote:

[2019-05-08 22:57] jywarren commented on #6
https://github.com/publiclab/image-sequencer/issues/1033 shows how to replicate it in the CLI mode - it gives the same error, so it seems likely it's the same parsing issue!

[2019-05-08 22:58] jywarren commented on #6
I'm sorry - wait. The error is not the same. But @VibhorCodecianGupta has gone into some detail on the parsing in there, so there is more context available in https://github.com/publiclab/image-sequencer/issues/1033.

[2019-05-08 23:00] jywarren commented on #6
So, i'd go by this comment to replicate it: https://github.com/publiclab/image-sequencer-app/issues/6#issuecomment-485018092

And I bet you could get this running locally: https://gist.github.com/jywarren/7721a38725affdbc4fad2598ff1be59e

[2019-05-16 11:53] tech4GT commented on #6
@jywarren So to sum this up, the problem is with using `|` marks with our regular express framework, correct?
The query that is being passed to the sequencer gets messed up on using them as we did in the urls above, so this should happen locally too, right?
I tried running webgl-distort with options on the app running locally on my machine!
Great!! I got the error locally!!
On this now.

[2019-05-16 11:55] tech4GT commented on #6
Okay I have isolated this error to our import string functions. Okay I'll make sure to write some tests for the string parsing code to prevent this in the future. :+1:

[2019-05-16 11:57] tech4GT commented on #6
Also @jywarren I found out why the topological sort wasn't working! Actually that one is my fault since I didn't factor in that the graph might have nodes which are entirely disconnected. The library we are using does not support such nodes so all we need to do make that work is add those nodes in a loop. I'll make the necessary changes in a separate PR. :tada:

[2019-05-16 15:06] jywarren commented on #6
Oh this is great to hear you reproduced it!

[2019-05-16 15:07] jywarren commented on #6
Also this issue with the data url returned -- after these two fixes, would you mind taking a look? Thanks!

https://github.com/publiclab/image-sequencer-app/issues/6#issuecomment-488102548

[2019-05-16 15:08] jywarren commented on #6
And Varun, if we get this version of multi-sequencer (from cloud functions) running in a Docker container, we can move it to a non Cloud Functions part of Google Cloud and get longer runtimes and more memory. I think @icarito can help us with this. So, let's aim to get all these bugs fixed and we'll ask @icarito for some help getting this booting in a docker container?

[2019-05-16 15:27] tech4GT commented on #6
Sure! The project is already set up with docker, so it shouldn't be a problem adding the multi sequencer! 😄

[2019-05-17 10:08] tech4GT commented on #6
Okay finally figured this out! The commas in the input for webgl-distort are messing with the commas separating steps!

[2019-05-17 10:25] tech4GT commented on #6
@jywarren the problem is with the sequencer string not being URL safe. So how importString works is the inputs to every step, that is the stuff between `{...}` needs to be run through encodeURIComponent. So `webgl-distort{nw:0,101|ne:1023,-51|se:1223,868|sw:100,764}` will not work but this will `webgl-distort{nw:0%2C101|ne:1023%2C-51|se:1223%2C868|sw:100%2C764}`

[2019-05-17 10:27] tech4GT commented on #6
I did it this way to make sure that complete functions can be passed in as arguments like in the blend step. :smile:

[2019-05-20 05:20] tech4GT commented on #10
@jywarren I am not very familiar with how webgl based functions work, it would be great if you can guide me here or point me to some resources as to how we get from the lat,long in the input json to the inputs for the webgl-distort module which are `x,y coordinates for all four corners`
Sorry if this is basic stuff, I am just new to this :sweat_smile:

[2019-05-20 05:45] tech4GT commented on #10
So what I understand by reading the links mentioned above is that we are trying to take the spherical lat/long values and convert them to x/y values on a plane. One thing I am not sure of is what is our reference point while calculating the new positions, I mean x,y values with respect to what point?? I would really appreciate any help here @jywarren @icarito :smile:

[2019-05-20 05:48] tech4GT commented on #10
Okay so looking at the ruby version here https://github.com/publiclab/mapknitter-exporter/blob/6c2fc0671944fc2c673fc7eb0b68a88e46ca3882/lib/mapknitterExporter.rb#L53-L69
It appears to me that we are calculating the absolute minimum and maximum of the x and y values and using the combinations of these to represent the four corners with respect to which we distort. Is this correct?

[2019-05-20 06:52] tech4GT commented on #10
Okay this kinda makes sense now! @jywarren I got down most of this, just need a little help with how to use the scaling factor (cm per pixel)

[2019-05-22 00:05] jywarren commented on #10
Yes, so:

1. the images are stored with `lat`/`lon` values which "kind of" correspond to `x` and `y`, if you consider the north pole to be `0,0` 😄 💈 ⛄️  It's actually OK to build the function assuming this, and not worry about converting to a planar coordinate space, in the first version.
2. yes, so for the purposes of distortion, we actually don't need to worry about planar x,y origin besides jus

[2019-05-22 04:53] tech4GT commented on #10
@jywarren Yeah, one more question though, how do I use pxperm to scale if the distance we have is not is meters but in degrees, I mean lon/lat values even relative to a point are gonna be in degrees right? So do we use the formula I mentioned above `(radius of the earth)*(relative value of lat/lon)`
So I'll push in the first draft using this formula: `x = widht*(lon-minLon)/(maxLon-minLon)`
Until

[2019-05-22 05:31] tech4GT commented on #10
Alright! @jywarren Try this `https://us-central1-public-lab.cloudfunctions.net/is-function-edge/?steps=[{%22id%22:1,%22input%22:%22https://s3.amazonaws.com/grassrootsmapping/warpables/312456/test.png%22,%22steps%22:%22canvas-resize{},webgl-distort{nw%3A57%252C0%7Cne%3A214%252C35%7Cse%3A133%252C166%7Csw%3A0%252C134}%22}]`

[2019-05-22 05:32] tech4GT commented on #10
So to avoid image being cropped we need to resize the canvas first, now pushing in the converter I used!

[2019-05-22 06:56] tech4GT commented on #10
Alright!
@jywarren I have deployed a function on the cloud which is a proof of concept for the conversion, it takes the wrapable.json file address as a query and redirects to the correct url. You can check this out here:
[https://us-central1-public-lab.cloudfunctions.net/is-convert/?url=https://mapknitter.org/maps/pvdtest/warpables.json](https://us-central1-public-lab.cloudfunctions.net/is-convert

[2019-05-22 07:00] tech4GT commented on #10
@jywarren You can see the function here https://console.cloud.google.com/functions/details/us-central1/is-convert?project=public-lab&authuser=1&folder&organizationId=945104325419&tab=general&duration=PT1H

[2019-05-22 07:00] tech4GT commented on #10
:tada:

[2019-05-22 07:01] tech4GT commented on #10
I think the next step here will be to start to bring all this together and stitch all the images together using canvas-resize and overlay! :smiley:

[2019-05-22 13:49] jywarren commented on #10
Ok cool! Running this on a 3-image map with larger images, I see:

https://us-central1-public-lab.cloudfunctions.net/is-convert/?url=https://mapknitter.org/maps/ceres--2/warpables.json

![download](https://user-images.githubusercontent.com/24359/58179822-ef0b6f80-7c76-11e9-994e-7fd6dc24f88e.png)

[2019-05-22 13:50] jywarren commented on #10
Oh actually it was three images, so maybe images are getting lost as the subsequent images are pasted over them? But it definitely warped all three!

[2019-05-22 13:52] jywarren commented on #10
For comparison ceres--2 in mapknitter looks like:
![57237398-1ca8b580-6ff5-11e9-8a85-bc3b0d43b562](https://user-images.githubusercontent.com/24359/58179981-40b3fa00-7c77-11e9-9090-290bf61244be.png)

[2019-05-22 15:56] tech4GT commented on #10
@jywarren Awesome, So tomorrow I'll try to manually generate a sequence to export a 3 image map and if that goes well we can start writing a script to automate that!

[2019-05-22 16:00] tech4GT commented on #10
@jywarren Also, as the output of the 3 image url you mentioned earlier, I tried it and it should give something like this..
<img width="696" alt="Screen Shot 2019-05-22 at 9 28 49 PM" src="https://user-images.githubusercontent.com/25617855/58189706-9f5d9000-7cd8-11e9-9b10-911a76c5af0d.png">

Actually right now I have just aligned the images separately side by side rather than overlaying them onto

[2019-05-22 17:16] jywarren commented on #10
possibly! Yeah i assumed once the overlaying is working, they'd all appear
on the same image. Thanks!

On Wed, May 22, 2019 at 12:00 PM Varun Gupta <notifications@github.com>
wrote:

[2019-05-23 03:38] tech4GT commented on #10
@jywarren  I am facing an issue and I think this relates to the internal structure of webgl-distort.
So the final corner points are coming out to be different from the inputs. Are the inputs not the exact final corner points like
(nw,ne)
(sw,se)
??

[2019-05-23 03:44] jywarren commented on #10
Oh hmm, I'm not sure but it could be that the order is different. Let's
look at this code for comparison :
https://github.com/publiclab/Leaflet.DistortableImage/blob/cf82effaaf573d4af1c10752deda078c7845a7cd/src/edit/DistortableImage.Edit.js#L469

On Wed, May 22, 2019, 11:39 PM Varun Gupta <notifications@github.com> wrote:

[2019-05-23 03:53] tech4GT commented on #10
I'll take a look!
So for the test image I used the following values
(40,0|214,45)
(0,104|169,166)
with image width being 214 and height being 166
this is the result that I got:
![image_0](https://user-images.githubusercontent.com/25617855/58224726-6f47d880-7d3c-11e9-8aff-9e67dafc87d6.png)
![image_1](https://user-images.githubusercontent.com/25617855/58224730-71aa3280-7d3c-11e9-8d4e-30bdb0557c87.pn

[2019-05-23 03:55] jywarren commented on #10
It's hard to say but you can compare it to the Mapknitter map itself?

On Wed, May 22, 2019, 11:54 PM Varun Gupta <notifications@github.com> wrote:

[2019-05-23 03:56] tech4GT commented on #10
@jywarren Is there someone else who would know more about this? Maybe someone from the mapknitter team?
I'll try to go through the mapknitter ruby version code for the time being. :smile:

[2019-05-23 04:23] jywarren commented on #10
Maybe sashadev-sky? What is your exact question, though? Like, do you
suspect the corner order is not consistent? The code I sent marks North,
South East West, but I think you may need to just try some tests to see
what comes out the same as a mapknitter map looks like.

On Wed, May 22, 2019, 11:57 PM Varun Gupta <notifications@github.com> wrote:

[2019-05-23 04:28] tech4GT commented on #10
Actually, my question is that the final coordinates are coming out to be very different from what we are putting in as input, and I can't think of a reason why :sweat_smile:

[2019-05-23 04:28] tech4GT commented on #10
Actually not just the order, the corner points are entirely different from the input values.

[2019-05-23 04:31] jywarren commented on #10
Oh hmm, can you point me at the exact points in the code where it's going
in and coming out? I'm about to go to sleep but can take a quick look!

On Thu, May 23, 2019, 12:29 AM Varun Gupta <notifications@github.com> wrote:

[2019-05-23 04:33] tech4GT commented on #10
Oh, do you mean in the image sequencer module code?

[2019-05-23 05:03] jywarren commented on #10
Yeah like where do you mean you're passing values in and seeing different values out? Can you help me reproduce what you're seeing? Thanks!

[2019-05-23 05:35] tech4GT commented on #10
Actuall I didn't go into the module code but I called the module with the inputs that I mentioned above and then I inspected the final coordinates of the image which are different. So just try using the fisheye-gl with some inputs and then see the final corner coordinates.

[2019-05-23 05:42] jywarren commented on #10
Ah, ok. Well, the distortableimage code I linked to above works in
production on Mapknitter, so you can try that for comparison in the same
environment where the warpables.json is being generated. It works correctly
there!

On Thu, May 23, 2019, 1:35 AM Varun Gupta <notifications@github.com> wrote:

[2019-05-23 10:35] tech4GT commented on #10
Alright! @jywarren I found the error in the webgl-distort module of image sequencer, the width and height values of the image were hardcoded in. I have corrected them, with the new version this should work just fine.
Could you please publish the merge and publish the new version to npm so that I can consume it in the app, although I think the demo is still broken on this version.
Or maybe I can co

[2019-05-23 10:45] tech4GT commented on #10
Also please update the dist code coz the app consumes it from there!

[2019-05-24 03:36] tech4GT commented on #10
Alright! @jywarren please try the cloud function now, https://us-central1-public-lab.cloudfunctions.net/is-convert/?url=https://mapknitter.org/maps/pvdtest/warpables.json
:tada:

[2019-05-24 03:40] jywarren commented on #10
Awesome, it works!!!

I tried this next, for one level more complexity!

https://us-central1-public-lab.cloudfunctions.net/is-convert/?url=https://mapknitter.org/maps/ceres--2/warpables.json

On Thu, May 23, 2019, 11:36 PM Varun Gupta <notifications@github.com> wrote:

[2019-05-24 16:40] tech4GT commented on #10
@jywarren I tried the ceres--2 map but I suppose it does take a lot of time! Even on my local machine it is taking up to a minute to process the large images, this is sure to time out on cloud functions. What do you think?
Maybe you can suggest a map with relatively smaller images with which I can get the workflow running and we can think about the scale after that, maybe using a different platfor

[2019-05-24 16:52] tech4GT commented on #10
@jywarren for reference please try this https://us-central1-public-lab.cloudfunctions.net/is-function-edge/?steps=[{%22id%22:4,%22input%22:%22https://s3.amazonaws.com/grassrootsmapping/warpables/306187/DJI_1207.JPG%22,%22steps%22:%22resize{resize%3A25%2525},webgl-distort{nw%3A3968%252C340%7Cne%3A3137%252C2976%7Cse%3A0%252C2636%7Csw%3A831%252C0}%22},{%22id%22:5,%22input%22:%22https://s3.amazonaws.c

[2019-05-24 16:54] tech4GT commented on #10
<img width="1090" alt="Screen Shot 2019-05-24 at 10 22 40 PM" src="https://user-images.githubusercontent.com/25617855/58344116-7b35b680-7e72-11e9-9be7-095af400ace0.png">

[2019-05-24 16:57] tech4GT commented on #10
Also one more thing, don't you think the distortion should be relative to the minX and minY of each Image separately, coz if we distort relative to the minimum of all some part of the images might get chopped off since we overlay later.

[2019-05-24 17:04] jywarren commented on #10
wow that's great on the ceres output! nice high resolution images, and quite fast! Next step is compositing?

[2019-05-24 17:06] tech4GT commented on #10
Yeah, I am currently trying to design a sequence of steps for our api which would generate a canvas large enough and then overlay these images at the right locations.
One this works we can try to automate that part in our converter function! :smile:

[2019-05-25 04:16] tech4GT commented on #10
Okay, so a basic sequence goes something like this(using a single sequence):
make canvas

import
distort
overlay(-3)

import
distort
overlay(-3)

and so on for every image...
Once this is working, we can adapt this to multiple sequences by distorting separately and the using this:
make canvas

import
overlay(-2)

import
overlay(-2)

and so on..
@jywarren how does this sound?

[2019-05-25 04:42] tech4GT commented on #10
Hmm, looks like we are beyond the allowed array length while making a canvas this big! We would have to look for a workaround for this. @jywarren Any ideas?
<img width="1090" alt="Screen Shot 2019-05-25 at 10 10 04 AM" src="https://user-images.githubusercontent.com/25617855/58364664-62aab800-7ed5-11e9-87f1-cfefa584e3b5.png">
Other than this, everything is working just like it should! The sequence

[2019-05-25 04:50] tech4GT commented on #10
Okay this might be a problem, so mdn says that the length of an array can only be up to 2^32 - 1 and since all the processing modules we use rely on the js typed array it would be impossible to make an Image that big in size :cold_sweat:
Maybe if we scale the images down this can work, what do you think @jywarren ?? I mean it wouldn't be full quality but that might be our only option here.

[2019-05-25 12:20] jywarren commented on #10
Let's scale down for now, and then look at array extension libraries that
can help us use bigger arrays in IS?

On Sat, May 25, 2019, 12:51 AM Varun Gupta <notifications@github.com> wrote:

[2019-05-25 12:25] tech4GT commented on #10
Although I don’t think it will be possible to use a library since all our other libraries like get and save pixels use inbuilt js arrays only.
Anyway, what logic do you think we should use for scaling?
I mean like should I keep scaling by 1/2 untill the size is manageable?

[2019-05-25 12:40] jywarren commented on #10
What about https://www.npmjs.com/package/lds ?

On Sat, May 25, 2019, 8:26 AM Varun Gupta <notifications@github.com> wrote:

[2019-05-25 13:56] tech4GT commented on #10
I don't think that save-pixels would support exporting an image stored in this type of object? Don't you think?
If we want to add support for this then we would likely have to modify some get and save pixels code ourselves.

[2019-05-25 16:21] jywarren commented on #10
Hmm. Is it worth opening an issue on one of their repositories to ask about
huge bitmaps and how to handle them, linking to this npm module as a
suggestion?

Perhaps they'd be interested in a variant or switch for handling especially
large images.

On Sat, May 25, 2019 at 9:56 AM Varun Gupta <notifications@github.com>
wrote:

[2019-05-26 01:12] tech4GT commented on #10
Sure, I'll do that! For the time being though I'll scale the images down by 2 in a loop until the size becomes manageable. Is that fine?

[2019-05-26 01:21] jywarren commented on #10
Yeah of course! And it'll be good to run smaller image sets through for
more efficient testing.

On Sat, May 25, 2019, 9:13 PM Varun Gupta <notifications@github.com> wrote:

[2019-05-26 01:22] jywarren commented on #10
But maybe best open the issue soon to give them a chance to respond! Great
work Varun, thanks!

On Sat, May 25, 2019, 9:21 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-05-26 01:29] tech4GT commented on #10
Sure, I'll open the issues right now! :smile:

[2019-05-26 01:33] tech4GT commented on #10
Also, can you please suggest a different map with multiple images which are smaller in size? Thanks!

[2019-05-26 01:37] jywarren commented on #10
Hmm, unfortunately I think you may have to make one. Or you could point at
the scaled down versions of images, which do exist in mapknitter. See how
these images correspond:

https://s3.amazonaws.com/grassrootsmapping/warpables/306189/DJI_1202_thumb.JPG

https://s3.amazonaws.com/grassrootsmapping/warpables/306189/DJI_1202_medium.JPG

https://s3.amazonaws.com/grassrootsmapping/warpables/306189/DJI_

[2019-05-26 01:45] tech4GT commented on #10
Oh, great! I'll start writing up the script for compositing sequence.

[2019-05-26 15:58] tech4GT commented on #10
Alright! @jywarren I think I have this pretty much down, I am running into one final issue where after warping the overlay step does not overlay correctly, some part is cropped off..this however does not happen with the canvas resize, the code however is essentially the same. I guess I would have to dig a little deeper but I think we are pretty close here! :smile:
`import-image webgl-distort canva

[2019-05-26 16:04] jywarren commented on #10
Wowwwwww!! So cool!

On Sun, May 26, 2019, 11:59 AM Varun Gupta <notifications@github.com> wrote:

[2019-05-26 16:32] tech4GT commented on #10
Alright! I found the error and fixed it, a little mistake in the overlay module(I'll push it one the main is repo later), now the images line up perfectly but the extra space around the warped image is black, which covers the previous image on overlay, we may have to write a new overlay module specifically for this use case but glad to see this work!
![image_6](https://user-images.githubuserconten

[2019-05-27 07:41] tech4GT commented on #10
Okay so I used a little trick just to see if everything works correctly, I excluded completely black points from getting overlaid. The result is perfect!
![image_6](https://user-images.githubusercontent.com/25617855/58403461-59118380-8080-11e9-9eae-0ead885a16d8.jpeg)
@jywarren :tada:
All that needs to be done for this now would be to make the subpart-overlay module and we are ready for deployment!

[2019-05-27 10:30] tech4GT commented on #10
Also, I am noticing that single sequences are running faster than equivalent multi step sequence! I think the added overhead of creating sequencer instances is actually more than the time we save!

[2019-05-27 12:23] tech4GT commented on #10
Alright! I have deployed a working exporter to the cloud which gives the correct result locally but the function runs out of memory in the cloud! Here is the final result locally: (A screenshot, the whole image is too large!!)
<img width="544" alt="Screen Shot 2019-05-27 at 5 49 44 PM" src="https://user-images.githubusercontent.com/25617855/58419306-dc929b00-80a7-11e9-8744-911602e049b8.png">
@jywa

[2019-05-27 18:17] jywarren commented on #10
This is looking great!!! Let's resolve the outer edge bounds issue and I'll
ask Sebastian to look at what infrastructure this can be run on. Are
instructions pretty clear as to how to set this up, and can you point me at
a URL for it (or message @ icarito with it) so we can get it set up in a
larger memory environment?

Thanks!

On Mon, May 27, 2019, 8:23 AM Varun Gupta <notifications@github.com>

[2019-05-27 18:20] tech4GT commented on #10
Sure! Docker is already set on the project and we should be able to set this up fairly easily! I'll commit the changes I made to the Api, and then we ahould be able to easily export as a docker container.

[2019-05-27 18:23] tech4GT commented on #10
@jywarren One thing I wanted to run by you was that right now I have reduced the Api to run a single sequence since that was faster, but let's also keep the old code, it would help in parallelizing the process. :smile:

[2019-05-27 19:27] tech4GT commented on #10
Alright! Updated the API and added a `/api/v1/convert/?url=wrapables.json` route which gives the converted url!
Now working on the canvas size adjustment.
To set this up all we need to do is clone this repo and export the docker image using the docker cli commands! :D
@jywarren @icarito

[2019-05-27 22:59] jywarren commented on #10
Yes, I think the parallel processing may be very important as file size and count scale up, no?

`url=` can be remote, right?

[2019-05-27 23:07] jywarren opened #11 "Code organization and documentation"
This is looking really good. What do you think of:

* [x] filling out the README a bit
* [x] labeling the `converter` system as specifically a MapKnitter exporter function?

Any other changes to this repository to balance the specific use case of `mapknitter-exporter` (`mapknitter-exporter-js`?) with a generalized `image-sequencer-express`?

[2019-05-27 23:08] jywarren commented on #11
With proper documentation (see https://github.com/publiclab/mapknitter-exporter-sinatra/ and https://github.com/publiclab/mapknitter-exporter/) as a `mapknitter-exporter-js` this would be great. But if it's to be a general-purpose tool that could be a sub-section of the README.

[2019-05-27 23:09] jywarren commented on #10
This function (referencing issue title) is now at https://github.com/publiclab/image-sequencer-app/blob/main/src/util/converter.js

And accessed via this new route: https://github.com/publiclab/image-sequencer-app/commit/af294860a17b4b1be1f43f20f9e7f0d107b07ad9

[2019-05-28 02:01] tech4GT commented on #10
@jywarren yeah parallel processing would be very important! But I want to get the basic version running, after which we can use the cluster api for parallelizing.

[2019-05-28 02:02] tech4GT commented on #10
I'll push in the canvas size fix today for sure! :D

[2019-05-28 04:14] tech4GT commented on #10
Okay pushed in the revised converter which gives some extra canvas space to prevent images from getting cropped! I tried it out locally with the ceres--2 map and it works fine
We are ready to deploy as a first draft!
Once this is working in the cloud, next steps would be to make optimizations and add the clustered api parts!
<img width="681" alt="Screen Shot 2019-05-28 at 9 41 22 AM" src="https://

[2019-05-28 07:24] tech4GT commented on #10
Alright! @jywarren I have added preliminary parallelization in the multiSequencer file, do take a look! I am just using one core of the CPU right now but it is already so much faster!!! :tada:
I'll deploy this as a separate cloud function for you to try out!

[2019-05-28 07:52] tech4GT commented on #10
It's still running into memory constraints in the cloud functions!
So to sum up:
- We have a basic linear implementation and a converter for it(It is the default in the app right now, ie if you clone and run `npm run start` the linear version will run)
- We have a parallelized implementation which is much faster!(To run it you can clone and run `npm run start-multi `) :smile:
cc @jywarren @icarito

[2019-05-28 16:28] tech4GT commented on #11
Alright! @jywarren I'll get started on this right away! We'll also need to update tests and add some for the new multiSequencer server!
So I suppose we can keep the repository as is-app which is a general tool but then add a section to the readme about how to use this to export mapknitter maps!

[2019-05-28 16:30] jywarren opened #12 "Resolve array size limitations"
@tech4GT noted:

<img width="1090" alt="Screen Shot 2019-05-25 at 10 10 04 AM" src="https://user-images.githubusercontent.com/25617855/58364664-62aab800-7ed5-11e9-87f1-cfefa584e3b5.png">

@tech4GT opened this asking how to handle larger arrays: https://github.com/scijs/get-pixels/issues/46

Noting that https://github.com/scijs/get-pixels and https://github.com/scijs/save-pixels use https://github.

[2019-05-28 16:39] tech4GT commented on #12
@jywarren Just for the sake of completeness, is there some sort of upper limit on the size of the images we may get here?

[2019-05-28 16:40] jywarren commented on #12
haha... uhhhh i mean i've seen people try to export 50,000x50,000px images!

[2019-05-28 16:44] tech4GT commented on #12
Woah! Yeah we'll have to think this one out for sure! Image sequencer can't generate a canvas this big in the first place, and we might have multiple of these! 🤯

[2019-05-28 16:48] tech4GT commented on #6
Okay also closing this up, since we have fixed the API structure and implemented parallel processing!

[2019-05-28 16:48] #6 closed

[2019-05-28 17:09] jywarren commented on #12
haha! I am not sure one of these has successfully exported, to be honest, even in Ruby! But, one thing to think of is potentially rendering in segments - like, breaking it into max 10,000px^2 squares and rendering each square independently. It's complicated. But we can think about this kind of optimization much later.

To refocus back on the issue at hand here, what dimensions are we dealing with

[2019-05-28 17:13] tech4GT commented on #12
Alright! As long as we have only a few of these images and they have a sizeable overlap, I think we can handle it with mininal scaling! I was able to handle the ceres -- 2 map without any scaling of the input!

[2019-05-28 17:18] jywarren commented on #12
OK, but that's one of the smaller maps out there... see https://github.com/publiclab/mapknitter-exporter-sinatra/issues/23 for some of the ones we're outputting in Ruby!

[2019-05-28 17:21] tech4GT commented on #12
Great! Thanks I'll try those out tomorrow, along with the documentation and tests! It's pretty late here haha!
I was wondering if we can discuss the multiprocessor scaling as well right now so that I can code it up tomorrow! 😅

[2019-05-28 17:23] jywarren commented on #12
Put it this way - what is the max size arrays can be? MDN says:

`The length property of an Array or an ArrayBuffer is represented with an unsigned 32-bit integer, that can only store values which are in the range from 0 to 2^32-1.`

So that's: `4294967296` or `4,294,967,296` -- four billion or so. Not sure but imagine RGBA is 4 values, so a billion pixels, and the square root of that is `32,768`

[2019-05-28 17:25] tech4GT commented on #12
Actually it's less for typed arrays, I wasn't able to find the exact value but 2^26 works and 2^27 doesn't. Maybe that is a machine dependent thing but that's what happened on my mac!

[2019-05-28 17:26] jywarren commented on #11
Great!

[2019-05-28 17:31] jywarren commented on #11
OK, one thing I'd like to make really clear is how to initiate an export from a warpables.json address -- referencing your work here: https://github.com/publiclab/image-sequencer-app/issues/10#issuecomment-496318514

Note how the Ruby version has a simple syntax like this:

http://export.mapknitter.org/export?url=https://mapknitter.org/maps/pvdtest/warpables.json&scale=30 (although you can also PO

[2019-05-28 17:33] tech4GT commented on #11
Oh, Actually I made it a 2 part process, I'll add an export route in right now!
it should look like this:
`baseURL/export/?url=https://mapknitter.org/maps/pvdtest/warpables.json`

[2019-05-28 17:34] tech4GT commented on #12
Aha! @jywarren this is dependent on the version of node!! I tried this with node 10 and it allows up to 2^30 !!!

[2019-05-28 17:34] tech4GT commented on #12
I was using node 9 earlier!

[2019-05-28 18:01] jywarren commented on #12
oh wow! What had it been earlier? Anyways, that's great.

On Tue, May 28, 2019 at 1:35 PM Varun Gupta <notifications@github.com>
wrote:

[2019-05-28 18:01] jywarren commented on #11
great!

On Tue, May 28, 2019 at 1:34 PM Varun Gupta <notifications@github.com>
wrote:

[2019-05-28 18:01] tech4GT commented on #11
Okay @jywarren I have refactored everything and the final urls to access the exporter will be(locally):

Start command: `npm run start`

Using linear server: `localhost:4000/api/v1/export/?url=https://mapknitter.org/maps/pvdtest/warpables.json`

Using parallelized server: `localhost:4000/api/v2/export/?url=https://mapknitter.org/maps/pvdtest/warpables.json`

[2019-05-28 18:02] tech4GT commented on #11
I think this new one works much better, since we can compare the runtimes on the save server instance! :smile:

[2019-05-28 18:03] tech4GT commented on #12
Yeah I think 2^30 is a big enough canvas for our purpose!! Great!! :tada:

[2019-05-28 18:05] jywarren commented on #11
that's awesome. Great work! Can we test this even before setting up the
cluster?

On Tue, May 28, 2019 at 2:02 PM Varun Gupta <notifications@github.com>
wrote:

[2019-05-28 18:08] tech4GT commented on #11
I mean I tried this out on cloud functions but it runs out of memory! The v2 api works insanely fast on my machine though! It's like half the time compared to v1 !

[2019-05-28 18:08] tech4GT commented on #11
You can try it out locally maybe?

[2019-05-28 18:18] jywarren commented on #11
no, it's OK - let's just wait for @icarito to help us get this installed in
a cluster.

On Tue, May 28, 2019 at 2:09 PM Varun Gupta <notifications@github.com>
wrote:

[2019-05-28 18:21] jywarren opened #13 "Change "extra space" fixes"
https://github.com/publiclab/image-sequencer-app/blob/5cdf8559cfdb95c65ddc2589403dcc273c1f3661/src/util/converter.js#L50

Hi Varun, I could be at the wrong spot here, but I think in the original code corresponding to this, we used the largest dimension to set the size:

https://github.com/publiclab/mapknitter-exporter/blob/c767780392342c109b26a887971b3ab6bcd98c94/lib/mapknitterExporter.rb#L136

Is

[2019-05-28 18:24] jywarren opened #14 "Adjust scaling with parameter"
We scale the output image with a provided `cm per pixel` value called `scale` or sometimes `resolution` -- here is the relevant segment -- but also search for `scale` or `pxperm` in this file!

https://github.com/publiclab/mapknitter-exporter/blob/c767780392342c109b26a887971b3ab6bcd98c94/lib/mapknitterExporter.rb#L125-L126

It's not super complex, it's just a scaling factor because we know the rea

[2019-05-28 18:35] tech4GT commented on #14
Awesome! I'll ad this part in tomorrow as well! This is coming together rather quickly!! Exciting!!

[2019-05-28 18:38] jywarren commented on #14
yes it's super exciting to see it all happening :-)))))

On Tue, May 28, 2019 at 2:36 PM Varun Gupta <notifications@github.com>
wrote:

[2019-05-28 18:43] tech4GT commented on #14
Okay I tried running this with node v10 to export a 11904x8928 Image and it is taking somewhere in the neighborhood of about 4-5 minutes on my machine!

[2019-05-28 18:49] jywarren commented on #14
that's great - esp. compared to the 8000x14000 image that Ruby ran in 10
minutes.

However, it'll depend in part on how may sub-images it's made up of.
Another great reason to start benchmarking!

On Tue, May 28, 2019 at 2:44 PM Varun Gupta <notifications@github.com>
wrote:

[2019-05-28 18:51] tech4GT commented on #14
Yes! I better sleep now but I think I can push everything we talked about tomorrow itself! :smile:

[2019-05-28 18:53] jywarren commented on #14
go sleep! goodness! yikes i can't imagine what time it is there :-)

Great work today!!!

On Tue, May 28, 2019 at 2:51 PM Varun Gupta <notifications@github.com>
wrote:

[2019-05-29 07:40] tech4GT commented on #10
@jywarren I think there is some problem with the way I have implemented this function, I tried increasing the scaling factor in the function and it just broke! The Images don't line up If I use a different height and width! Maybe you can take a look to see if you see anything wrong? :sweat_smile:

[2019-05-29 12:15] tech4GT commented on #10
Also @jywarren I have added the tests and the readme, left comments in the code and cleaned it up.
So this is the final piece! Once we get this to work we are ready to deploy!

[2019-05-29 12:20] tech4GT commented on #10
basically the problem is that the images are being overlaid differently for different canvas sizes!
The formula I have used to get the distortion positions is:
(node.x - minLon)*width/(maxLon-minLon) and similarly for y .
Then the overlay position is the minX and minY for all four corners of one image.
This is only working with some values of width and height! In other cases the overlay is off!! S

[2019-05-29 13:41] jywarren commented on #10
Can you point at where you've implemented scaling? And open a new issue? I
should have time to look later today. Thanks!

On Wed, May 29, 2019, 8:21 AM Varun Gupta <notifications@github.com> wrote:

[2019-05-29 13:46] tech4GT commented on #10
Sure! Thanks a ton! 😃

[2019-05-29 13:49] tech4GT opened #15 "Error while overlaying!"
The overlay positions of distorted images are not correct!
Here's the link to the code where I calculate the corner points for distortion https://github.com/publiclab/image-sequencer-app/blob/8dd6aa43d174fe31d1c279bcf29359ef5afb7977/src/api/v2/util/converter-multiSequencer.js#L37
Cc @jywarren

[2019-05-29 13:50] #10 closed

[2019-05-29 13:52] tech4GT commented on #13
Oh yes! This was a temporary fix! This issue is related to the one I have just opened #15 , once we have the scaling done right this space won't be needed!

[2019-05-29 22:36] jywarren opened #16 "Availability for client-side usage? (speculative use)"
Let's not worry about this now, but in the future (sparkle in my eye) I wonder how possible it would be to initiate a sequence from a collection of images, and run the entire export client-side, perhaps in a web worker to not stall the UI out...

Food for future thought! 😄

https://github.com/publiclab/image-sequencer-app/blob/8dd6aa43d174fe31d1c279bcf29359ef5afb7977/src/api/v2/util/converter-mult

[2019-05-29 22:41] jywarren commented on #13
OK, great. Super!

[2019-05-29 22:42] jywarren commented on #12
OK I'll mark this as temporarily resolved...

[2019-06-07 17:10] tech4GT commented on #15
Hi @jywarren I guess you’re really busy right now! I’ve been trying to reach you on email with the state of the project. Please check that out whenever you can find the time. Thanks!

[2019-06-07 17:18] jywarren commented on #15
Oh I'm so sorry! Will check ASAP

On Fri, Jun 7, 2019, 10:11 AM Varun Gupta <notifications@github.com> wrote:

[2019-06-08 17:36] jywarren commented on #11
Hi @icarito so the cluster should now use this?

http://34.74.118.242/api/v2/process/?steps=[%7B%22id%22:1,%22input%22:%22https://s3.amazonaws.com/grassrootsmapping/warpables/312455/test.png%22,%22depends%22:[],%22steps%22:%22webgl-distort%7Bnw%3A169%252C166%7Cne%3A0%252C104%7Cse%3A40%252C0%7Csw%3A214%252C45%7D%22%7D,%7B%22id%22:2,%22input%22:1,%22depends%22:[1],%22steps%22:%22canvas-resize%7Bwidt

[2019-06-09 05:08] jywarren commented on #11
@tech4gt just reporting from @icarito here:

I tried this URL:
http://34.73.7.193/api/v2/export/?url=http://mapknitter.org/maps/pvdtest/warpables.json&scale=30

and now I also did kubectl logs [container-id-from-kubectl-get-pods] and I can see the app log:

TROUBLESHOOTING: https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md

    at onClose (/app/node_modules/puppeteer/li

[2019-06-09 05:27] tech4GT commented on #11
Hi @jywarren this looks weird! It looks like the server was unable to launch chromium for some reason! Maybe chromium was not saved as a dependency in the package.json file!!

[2019-06-09 05:28] jywarren commented on #11
Hmm, well hopefully you'll soon be able to push up new versions just by pushing!

see @icarito's work in https://github.com/publiclab/image-sequencer-app/pull/17

[2019-06-09 05:28] tech4GT commented on #11
@jywarren I currently do not have my personal computer and I would have to reconfigure git on this one in order to commit! Could you please just run the command `npm install --save chromium` ??

[2019-06-09 05:29] jywarren commented on #11
Does the dockerfile need additional configuration?

[2019-06-09 05:29] tech4GT commented on #11
Wow! This looks fantastic!!

[2019-06-09 05:30] jywarren commented on #11
I'm actually on my phone right now, about to board a plane. But we'll try this soon, it should be a new PR with the package.json and lockfile after running that command, right?

[2019-06-09 05:30] tech4GT commented on #11
I don't think so!

[2019-06-09 05:31] tech4GT commented on #11
Yeah! That should do the trick! Otherwise I'll look into this as soon as possible!

[2019-06-09 05:34] tech4GT commented on #11
Oh no wait, that should not be required!

[2019-06-09 05:38] tech4GT commented on #11
Okay, I'm a little confused here! I cloned and tried running it and it worked on my machine. Okay @jywarren I'll figure this out and paste my findings here! Thanks!

[2019-06-09 05:44] jywarren commented on #11
Awesome, thanks! I'm almost taking off now :-)

On Sat, Jun 8, 2019, 10:39 PM Varun Gupta <notifications@github.com> wrote:

[2019-06-09 06:40] tech4GT commented on #11
Okay I think in order to run puppeteer inside docker we have to launch it with the no-sandbox tag
Details here : https://stackoverflow.com/questions/43665276/how-to-run-google-chrome-headless-in-docker/51863447

[2019-06-09 06:41] tech4GT commented on #11
Raising an issue on image-sequencer for this!

[2019-06-09 07:04] tech4GT commented on #11
Alright found it! We need to install chrome separately inside the container! I found a sample dockerfile here https://hub.docker.com/r/alekzonder/puppeteer/dockerfile
@jywarren I'm stop by my house in a couple of hours and put in the pr! :tada:

[2019-06-09 21:31] jywarren commented on #14
Hi @tech4gt did the scaling code get added in and would you mind adding some brief docs? Thanks!!

[2019-06-09 21:43] tech4GT commented on #14
@jywarren The scaling part was still giving me trouble. I'll add the details in a couple of hours.

[2019-06-10 09:21] tech4GT commented on #14
Okay, here is the detailed explanation of the problem:
- We use a converter function to convert the lat/long coordinates to overlay coordinates of warped images.
- While the coordinates generated are distorting the image correctly they are getting scaled incorrectly which results in improper overlay of images.
- We need to fix the converter in a way that it consumes a scale query and converts the

[2019-06-10 21:07] jywarren opened #18 "Test failures (and possible fix)"
We started seeing test errors -- like https://travis-ci.com/publiclab/image-sequencer-app/builds/114852280#L551

`prebuild-install WARN install /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version 'GLIBCXX_3.4.20' not found (required by /home/travis/build/publiclab/image-sequencer-app/node_modules/gl/build/Release/webgl.node)`

Looking here, we should run the `npm test` in the container - @icarito is

[2019-06-10 21:07] jywarren commented on #18
Here's the last Travis build that passed tests - it was pre 3.0.x `image-sequencer`: https://travis-ci.com/publiclab/image-sequencer-app/builds/104907230

[2019-06-10 21:42] jywarren commented on #18
Resolved!

[2019-06-10 21:42] #18 closed

[2019-06-10 21:55] jywarren commented on #11
... this works!!!

http://34.74.118.242/api/v2/export/?url=http://mapknitter.org/maps/pvdtest/warpables.json&scale=30

[2019-06-10 21:58] jywarren commented on #11
This is taking a while but it's MUCH bigger -- 3 multi-megabyte images

[2019-06-10 22:16] jywarren commented on #11
OK LOL this was scary... it completed, was really giant, and i started scrolling...

![image](https://user-images.githubusercontent.com/24359/59230571-da523580-8bab-11e9-9322-953195e0e15b.png)

[2019-06-10 22:18] jywarren commented on #11
How did that happen? it redirected to: `http://34.74.118.242/api/v2/process/?steps=[%7B%22id%22:1,%22input%22:%22https://s3.amazonaws.com/grassrootsmapping/warpables/306187/DJI_1207.JPG%22,%22depends%22:[],%22steps%22:%22webgl-distort%7Bnw%3A0%252C1708%7Cne%3A320%252C0%7Cse%3A1529%252C220%7Csw%3A1209%252C1928%7D%22%7D,%7B%22id%22:2,%22input%22:%22https://s3.amazonaws.com/grassrootsmapping/warpable

[2019-06-10 22:20] jywarren commented on #11
I uninstalled the extension ☹️ and am re-running it.

[2019-06-10 22:37] jywarren commented on #11
It worked!!!! 25mb output in <2 minutes!

Too big even to upload to GitHub! https://www.dropbox.com/s/m6v131cyynlwx0a/ceres--2.png?dl=0

[2019-06-10 22:37] jywarren commented on #11
Here's the timing:
![image](https://user-images.githubusercontent.com/24359/59231496-d2e05b80-8bae-11e9-9674-528cec9bb25c.png)

[2019-06-10 22:40] jywarren opened #19 "Load testing!"
Now, building on the list from https://github.com/publiclab/mapknitter-exporter-sinatra/issues/23, let's see how big images/maps it can handle!

http://34.74.118.242/api/v2/export/?url=http://mapknitter.org/maps/pvdtest/warpables.json&scale=30 is real fast. seconds.

http://34.74.118.242/api/v2/export/?url=http://mapknitter.org/maps/ceres--2/warpables.json&scale=30 -- It worked!!!! 25mb output in

[2019-06-10 22:40] jywarren commented on #11
Moving to #19 !!!!

[2019-06-10 22:40] #11 closed

[2019-06-10 22:42] jywarren commented on #19
Hmm, i just saw an error on http://34.74.118.242/api/v2/export/?url=http://mapknitter.org/maps/irish-uk-border-mapping/warpables.json&scale=30 , the URL became:

`http://34.74.118.242/api/v2/process/?steps=[%7B%22id%22:1,%22input%22:%22https://s3.amazonaws.com/grassrootsmapping/warpables/305302/G0097816.jpg%22,%22depends%22:[],%22steps%22:%22webgl-distort%7Bnw%3A2090%252C854%7Cne%3A2074%252C340%7C

[2019-06-10 22:43] jywarren commented on #19
@tech4GT any ideas?

[2019-06-10 22:55] jywarren commented on #19
Hmm. http://34.74.118.242/api/v2/export/?url=http://mapknitter.org/maps/lemon-fair-burn/warpables.json&scale=30 is also showing HTTP error 400... :-(

[2019-06-10 23:06] jywarren commented on #19
Hmm, are we busting through memory here @icarito ? Where can we pull logs?

[2019-06-10 23:40] icarito commented on #19
I use `kubectl logs [container-name]` to read logs. I get `container-name` from `kubectl get pods`

[2019-06-11 00:15] tech4GT commented on #19
Okay, so the first thong about the url transforming is that right now everything is Implemented through GET and hence the redirect with the sequence as query. A rather small refactor will fix that, I'll push that as soon as I can.
For the error, let's see the logs and then I might be able to figure out why it didn't work!

[2019-06-11 04:16] jywarren commented on #19
@icarito I didn't see a new kubernetes container/cluster, which service did
you set this up in? Thanks!!

On Mon, Jun 10, 2019, 8:16 PM Varun Gupta <notifications@github.com> wrote:

[2019-06-11 04:33] icarito commented on #19
![imagen](https://user-images.githubusercontent.com/199755/59243961-21eeb680-8bd8-11e9-8a99-63ca4f9fca91.png)
It's running in same cluster `"mapknitter"`

[2019-06-11 05:27] jywarren commented on #19
Hmm, could be this error? 6/10/19, 5:58 PM

[code]

[2019-06-11 05:32] jywarren commented on #19
Yeah another log clue
[code]

[2019-06-11 05:35] jywarren commented on #19
[code]

[2019-06-11 05:35] jywarren commented on #19
https://console.cloud.google.com/logs/viewer?resource=k8s_container%2Fcluster_name%2Fmapknitter%2Fnamespace_name%2Fdefault%2Fcontainer_name%2Fimage-sequencer-app&logName=projects%2Fpublic-lab%2Flogs%2Fstderr&expandAll=false&timestamp=2019-06-10T21:58:41.154000000Z&project=public-lab&authuser=1&minLogLevel=0&customFacets=&limitCustomFacetWidth=true&interval=JUMP_TO_TIME&scrollTimestamp=2019-06-10T2

[2019-06-11 05:40] tech4GT commented on #19
@jywarren Could you try running this with v1 API, it'll take considerably more time, but takes far less memory. That should confirm if the problem is being caused by memory constraints.

[2019-06-11 05:45] jywarren commented on #19
I also see, near and after that last error, "Finished!Finished!Finished!..."

[2019-06-11 05:45] jywarren commented on #19
I will tomorrow! Need to sleep now :-)

[2019-06-11 05:46] jywarren commented on #19
Error catching can be done here too! https://console.cloud.google.com/errors/CM_GmvOcrOX8_QE?time=P1D&project=public-lab&authuser=1

[2019-06-11 05:47] tech4GT commented on #19
Oh! Good night!
Also I think we might need to do something about the logs on image sequencer. Maybe I'll refactor that over the weekend.

[2019-06-11 14:07] jywarren commented on #19
Hmm, @tech4GT when i go to http://34.74.118.242/api/v1/export/?url=http://mapknitter.org/maps/lemon-fair-burn/warpables.json&scale=30, it redirects to:

[code]

Redirecting is not a problem - we can leave that -- but this second page doesn't work; i get a 400 error.

[2019-06-11 14:31] tech4GT commented on #19
I'll look into this! Let me try it with a smaller test first!

[2019-06-11 14:36] tech4GT commented on #19
Okay so the v2 api seems to be working with
http://34.74.118.242/api/v2/export/?url=https://mapknitter.org/maps/ceres--2/warpables.json
This does make me feel like the issue with larger exports might be memory!

[2019-06-11 14:38] jywarren commented on #19
Hmm, yes indeed - this looks like it running, but I am still getting a 400... odd!

[code]

[2019-06-11 14:40] tech4GT commented on #19
Okay @jywarren I tried the v1 and that seems to work on the ceres map too!!
http://34.74.118.242/api/v1/export/?url=https://mapknitter.org/maps/ceres--2/warpables.json

[2019-06-11 14:44] tech4GT commented on #19
Okay we really need to take care of the logs at image sequencer! I'll take care of it this weekend!! So @jywarren I think the issue here might just be with the amount of memory! Since I have not placed a limit to the number of steps that can run concurrently, so it might be that the system just initiates a bunch of steps at the same time but ends up running out of memory to process them later.
I t

[2019-06-11 14:44] jywarren commented on #19
Like, lots of these are running. So, I wonder if we are in fact running all the steps, but somehow the original request is receiving a 400?

[2019-06-11 14:45] tech4GT commented on #19
We can base the limit on the amount of available memory!

[2019-06-11 14:47] tech4GT commented on #19
Hmm, this is with the v1, correct?

[2019-06-11 14:48] jywarren commented on #19
Great to hear on the ceres map! OK, yeah. We could allow 3 or 5 processes to run concurrently, because in some of these maps we'd be starting 45 processes at once. So this will serialize them a bit?

[2019-06-11 14:49] jywarren commented on #19
I'm not sure which actually, i just searched all recent logs on the cluster. It's odd, i can't see the original GET requests themselves. Maybe we need to output to `stdout` (from the is-app) some request information (like the request path, full parameters, etc) so that we can read the logs a bit more easily?

[2019-06-11 14:50] jywarren commented on #19
great!

[2019-06-11 14:50] tech4GT commented on #19
Let me do some testing and figure out the mapping b/w the memory and the number of steps running. Let's not hard code it though, what say?

[2019-06-11 14:51] tech4GT commented on #19
I agree! Logs on Image sequencer need major work! The progress bars are also really obtrusive, fixing that alone should give us some performance boost!

[2019-06-11 14:53] tech4GT commented on #19
Also @jywarren Just to be clear, right now the different steps are not actually run as separate processes, but are run concurrently. So to be very specific in v2 api we have concurrency not parallelism.

[2019-06-11 14:53] jywarren commented on #19
And, if the request takes like 1 hour to process, shouldn't we follow this sequence -- as we do in the sinatra app:

1. initiate export on starting GET or POST request
2. fork off the export process and assign it an ID (like a pid or timestamp?)
3. report back a URL with a status ID to the original request very quickly (like immediately)
4. client can then hit a 2nd url like `/api/v2/status/?pid=0

[2019-06-11 14:54] jywarren commented on #19
OK thanks for clarification on concurrency!

This sounds great; you could even make it a GET parameter.

[2019-06-11 14:55] jywarren commented on #19
Let's do the memory stuff first, and think about a 2nd request for `status.json` next, though!

[2019-06-11 14:57] tech4GT commented on #19
Got it! My weekend checklist:
1> Fix logs on image sequencer
2> Update the process to confine the memory used
3> Fork the exporter process and add a status endpoint

Anything else you would like to addd @jywarren ??

[2019-06-11 18:13] jywarren commented on #19
That sound amazing!

On Tue, Jun 11, 2019 at 10:58 AM Varun Gupta <notifications@github.com>
wrote:

[2019-06-11 18:16] jywarren commented on #19
Linking back to https://github.com/publiclab/image-sequencer-app/issues/19#issuecomment-500693625 where @Divy123 has what appears to be the exact same error on:

`Possible EventEmitter memory leak detected. 11 end listeners added. Use emitter.setMaxListeners() to increase limit`

[2019-06-15 12:31] tech4GT commented on #19
Okay so the eventEmitter memory leak error, is because of setting more than 10 listeners on an event. I am not sure what code originates this but let's try if increasing the limit fixes that.
I am pushing in some preliminary fixes which bounds the concurrent processes to 10. Since I can't test this on my local machine, let's try it on the server and monitor the logs for a huge export!

[2019-06-15 12:35] tech4GT commented on #19
Also @jywarren Do we some place we can store these exports, since we are forking the process, eventually when the export completes we would have to send it to the user somehow. How is this done on the rails version?

[2019-06-15 12:47] tech4GT commented on #19
@icarito @jywarren Please deploy the the new code I have pushed in and let's see what impact is it causing!

[2019-06-15 13:06] jywarren commented on #19
In rails it is sent along with a status.json file to Google cloud storage.
We can set that up too.

Is it building automatically now from the main branch push?

On Sat, Jun 15, 2019, 8:48 AM Varun Gupta <notifications@github.com> wrote:

[2019-06-15 13:07] tech4GT commented on #19
I’m not sure maybe @icarito would know?

[2019-06-15 13:08] jywarren commented on #19
It built 20m ago automatically from the push!

On Sat, Jun 15, 2019, 9:06 AM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-06-15 13:10] tech4GT commented on #19
Awesome! That makes it so much better! I’ll test it out! Also if you’ll send me the credentials to upload to the cloud storage, I can set that up too!

[2019-06-15 13:13] jywarren commented on #19
Hmm this still gives 400:

http://34.74.118.242/api/v2/export/?url=http://mapknitter.org/maps/irish-uk-border-mapping/warpables.json&scale=30

I'll check logs but maybe we need to try a big map with fewer than 10 images???

[2019-06-15 13:15] tech4GT commented on #19
Can you point me to where I can see the logs??

[2019-06-15 13:22] jywarren commented on #19
It's in Google storage logs, here:

https://console.cloud.google.com/logs/viewer?project=public-lab&resource=k8s_container%2Fcluster_name%2Fmapknitter&pli=1&authuser=1&minLogLevel=0&expandAll=false&timestamp=2019-06-15T13:21:28.976000000Z&customFacets=&limitCustomFacetWidth=true&dateRangeStart=2019-06-15T12:21:29.228Z&dateRangeEnd=2019-06-15T13:21:29.228Z&interval=PT1H&scrollTimestamp=2019-06-15T1

[2019-06-15 13:22] jywarren commented on #19
Also I made a new bucket "mapknitter-is" that you have access to. You'll
have to make yourself a key!

On Sat, Jun 15, 2019, 9:21 AM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-06-15 13:30] jywarren commented on #19
https://cloud.google.com/storage/docs/json_api/v1/how-tos/upload

https://cloud.google.com/storage/docs/uploading-objects

On Sat, Jun 15, 2019, 9:22 AM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-06-15 13:32] tech4GT commented on #19
Cool! I’m heading out now but I’ll get on this in a couple of hours.

[2019-06-15 13:33] jywarren commented on #19
Great! Same!!

[2019-06-15 13:38] jywarren commented on #19
Yes this link as I had above is correct for logs:

https://console.cloud.google.com/logs/viewer?resource=k8s_container%2Fcluster_name%2Fmapknitter%2Fnamespace_name%2Fdefault%2Fcontainer_name%2Fimage-sequencer-app&logName=projects%2Fpublic-lab%2Flogs%2Fstderr&expandAll=false&timestamp=2019-06-10T21:58:41.154000000Z&project=public-lab&authuser=1&minLogLevel=0&customFacets=&limitCustomFacetWidth=true

[2019-06-15 14:29] jywarren commented on #19
Ok actually there are no logs i can find since the 10th, but there may have been one more error then:

https://gist.github.com/jywarren/e46994aa9dec8d774245822365fb446f

But I don't know why we aren't seeing any other logs! Do we need this express app to generate more logging, at least for requests?

[2019-06-15 14:36] jywarren commented on #19
Hmm, actually I'm seeing a `This site can’t be reached / 34.74.118.242 refused to connect.` error... for this URL (after initial redirect): [click here](http://34.74.118.242/api/v2/process/?steps=[%7B%22id%22:1,%22input%22:%22https://s3.amazonaws.com/grassrootsmapping/warpables/306187/DJI_1207.JPG%22,%22depends%22:[],%22steps%22:%22webgl-distort%7Bnw%3A0%252C1708%7Cne%3A320%252C0%7Cse%3A1529%252C2

[2019-06-15 14:39] tech4GT commented on #19
Hmm, Maybe this is a browser issue, the browser might not be waiting enough time for the server to process the response!
Let me integrate the bucket with our code!

[2019-06-15 14:39] tech4GT commented on #19
Then we would have a better understanding as to what is going on!

[2019-06-15 14:40] jywarren commented on #19
Anyhow here are some maps with <10 images;

* http://34.74.118.242/api/v2/export/?url=https://mapknitter.org/maps/tahuna/warpables.json
* http://34.74.118.242/api/v2/export/?url=https://mapknitter.org/maps/tahuna--2/warpables.json
* http://34.74.118.242/api/v2/export/?url=https://mapknitter.org/maps/cai2019/warpables.json
* http://34.74.118.242/api/v2/export/?url=https://mapknitter.org/maps/marshb

[2019-06-15 14:40] tech4GT commented on #19
Are these working?

[2019-06-15 14:41] jywarren commented on #19
I'm trying them one at a time... starting with the last

[2019-06-15 14:41] jywarren commented on #19
ah for `marshburg` i get the same "refused to connect" error... but i'll wait a bit and see it it'll load later like the other did.

Update: Chrome keeps trying to reload that page, so we'll see...

[2019-06-15 14:41] tech4GT commented on #19
Okay! I'll look into the cloud stuff meanwhile!

[2019-06-15 14:43] jywarren commented on #19
Ah ok so it's showing in the cloud logs now!

[code]

[2019-06-15 14:44] tech4GT commented on #19
Okay! Let me set the max listeners then!

[2019-06-15 14:45] jywarren commented on #19
I thought you did already in https://github.com/publiclab/image-sequencer-app/commit/9aa949d79ce7d214785919705afd416bc64a82d3 ?

The `marshburg` map finally loaded, but after spinning for a few seconds, i now see `This page isn’t working 34.74.118.242 didn’t send any data.`

[2019-06-15 14:46] jywarren commented on #19
Ah but in the logs i now see that it rebooted! Maybe it crashed. Maybe it has the maxListeners code loaded now...?

[2019-06-15 14:46] tech4GT commented on #19
I did but maybe I need to set it for every request separately!

[2019-06-15 14:46] tech4GT commented on #19
Oh!

[2019-06-15 14:47] jywarren commented on #19
Yeah i'm still getting the ` MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 SIGHUP listeners added. Use emitter.setMaxL...` error in the logs. It's quite helpful to run it and [watch the logs live](https://console.cloud.google.com/logs/viewer?project=public-lab&resource=k8s_container%2Fcluster_name%2Fmapknitter%2Fnamespace_name%2Fdefault%2Fcontainer_name%2Fimage-sequen

[2019-06-15 14:48] jywarren commented on #19
You can watch new versions build here, though they take a little longer to actually get to the cluster, i think: https://console.cloud.google.com/cloud-build/builds?authuser=1&project=public-lab

[2019-06-15 14:53] tech4GT commented on #19
Awesome!
How do I deploy the code which contains my credentials for uploading?

[2019-06-15 14:54] tech4GT commented on #19
I mean I shouldn't just push this to github, right?

[2019-06-15 14:56] jywarren commented on #19
yeah... don't worry about cloud storage just yet! Maybe run it locally and use an environment variable if you can? Then we'll add the creds safely.

[2019-06-15 14:59] tech4GT commented on #19
Okay, but how would do test it out then. I have a strong feeling that the browser might be sending repeat requests after every 30 seconds or so, which causes the cluster to crash. Maybe I'll try to request the URL with curl?

[2019-06-15 15:02] tech4GT commented on #19
Okay, I'm getting connection refused error! Why is it crashing like this?

[2019-06-15 15:50] tech4GT commented on #19
Okay I don't see the listeners exceeded log anymore, but for some reason I am not getting the correct response from the server.

[2019-06-15 15:51] tech4GT commented on #19
@jywarren Are you also facing the same thing on your end?

[2019-06-15 16:18] jywarren commented on #19
I'm not at a computer right now, sorry!!!

On Sat, Jun 15, 2019, 11:51 AM Varun Gupta <notifications@github.com> wrote:

[2019-06-15 16:20] tech4GT commented on #19
Okay cool! I am working on the cloud stuff right now! Will circle back to this after that is working!

[2019-06-15 16:54] tech4GT commented on #19
Okay @jywarren I have written the status endpoint code locally! Now how do we deploy it? Should I just gitignore my secrets and push it here, but that would break the current production build?

[2019-06-15 16:58] jywarren commented on #19
Just enable it with a flag maybe, or can you check presence of env
variables and only upload if they exist?

On Sat, Jun 15, 2019, 12:54 PM Varun Gupta <notifications@github.com> wrote:

[2019-06-15 17:00] tech4GT commented on #19
I'm not really sure how to do that, maybe I can push the new commits in, once someone configures the cluster?

[2019-06-15 17:00] tech4GT commented on #19
For now I'll move on to why it's crashing. I'm not even able to get a response for small maps like the ceres--2

[2019-06-15 17:02] tech4GT commented on #19
Also i tried to redirect requests from the user, from the status endpoint to the file in the bucket once the export is done. But I don't think it's publicly accessible, we may want to change that.

[2019-06-15 17:07] jywarren commented on #19
You may need to make each file public.

Can we make cloud storage depend on a get parameter like
&useCloudStorage=true ?

On Sat, Jun 15, 2019, 1:02 PM Varun Gupta <notifications@github.com> wrote:

[2019-06-15 17:08] tech4GT commented on #19
Okay I was researching memory leaks and stack overflow says that even extensive logs can leak memory by tying down the event loop. Disabling the progress bars might just help!!

[2019-06-15 17:08] tech4GT commented on #19
Sure! We already have an upload option! I'll use it good idea!
Also is there some extra parameter while creating the file which makes it public?

[2019-06-15 17:11] jywarren commented on #19
Yes it's in the Google documentation!

On Sat, Jun 15, 2019, 1:09 PM Varun Gupta <notifications@github.com> wrote:

[2019-06-15 17:21] tech4GT commented on #19
Okay pushed it in! Now we can enable it using upload=true in the query.

[2019-06-15 17:21] tech4GT commented on #19
Working on making it public now!

[2019-06-15 17:32] tech4GT commented on #19
Okay I put the redirect in place!! Now
`http://localhost:4000/api/v2/export/?url=http://mapknitter.org/maps/pvdtest/warpables.json&upload=true`
should give an immediate response and further, `http://localhost:4000/api/v2/status/?pid=47516` is downloading the file. Right now It's embedded in an html page but we can change that.

[2019-06-15 17:32] tech4GT commented on #19
@jywarren Please publish the new version of image sequencer onto npm whenever you can find the time, let's see if the pace progress bars are at fault here.

[2019-06-16 03:40] tech4GT commented on #19
Okay I pushed in the new code, but it is not yet deployed! @jywarren any idea why?

[2019-06-19 18:20] jywarren commented on #19
Hi @tech4GT can you update the status here?

What should we test? This?

http://34.74.118.242/api/v2/export/?url=http://mapknitter.org/maps/pvdtest/warpables.json&upload=true

returns:

[code]

http://34.74.118.242/api/v2/status/?pid=32 then seems to hang!

[2019-06-19 18:20] jywarren commented on #19
Is it possible the requests aren't going to the same container instance? Do we need to use an identifier (unlike pid) that would be unique across the cluster?

[2019-06-19 18:22] jywarren commented on #19
Many commits were made -- https://github.com/publiclab/image-sequencer-app/commit/046bbf75cd85394646e76110a244af3e5e633c27

Maybe it was this one for @Divy123's questions?

https://github.com/publiclab/image-sequencer-app/commit/1256685ebe4e81e70cad5ad9ba1ffc70a8ebb69d

[2019-06-19 18:26] Divy123 commented on #19
Ya that is something that can be done, but I don't know where this code should lie in IS.

[2019-06-20 01:06] tech4GT commented on #19
@jywarren the upload option won’t work coz we don’t have credentials on the cluster as of now. Let’s test it without that option and see if we get the same error in the logs!

[2019-06-20 18:54] jywarren commented on #19
OK, testing: http://34.74.118.242/api/v2/export/?url=http://mapknitter.org/maps/pvdtest/warpables.json

OK it almost instantly worked... now something bigger:

http://34.74.118.242/api/v2/export/?url=http://mapknitter.org/maps/ceres--2/warpables.json

That worked.
http://34.74.118.242/api/v2/export/?url=https://mapknitter.org/maps/marshburg/warpables.json next...

[2019-06-20 18:56] jywarren commented on #19
http://34.74.118.242/api/v2/export/?url=https://mapknitter.org/maps/marshburg/warpables.json stalled the first time, so i restarted it...

[code]

[2019-06-21 05:53] tech4GT commented on #19
@jywarren Let's focus on @Divy123 's work on https://github.com/publiclab/image-sequencer/pull/1093
Divy, has found out that even disabling pace based progress reporting somehow does not solve the memory leak issues associated with it.
Let's make sure that is working and if we're lucky that would solve our issues here too! Fingers crossed!! :smile:

[2019-06-22 01:51] tech4GT commented on #19
Okay I updated the dependency! Let's see if this works now!
@jywarren @icarito Could you please redeploy??

[2019-06-22 02:22] jywarren commented on #19
Oh, I thought you'd worked out how to redeploy. Can you ping @icarito in
the chatroom for help then? Sorry I misunderstood!

On Fri, Jun 21, 2019, 9:51 PM Varun Gupta <notifications@github.com> wrote:

[2019-06-22 03:49] icarito commented on #19
Hi!
I figured out how to reliably autodeploy here's a PR: https://github.com/publiclab/image-sequencer-app/pull/20
:rocket:

[2019-06-22 03:53] tech4GT commented on #19
Awesome! I'll merge it!!

[2019-06-23 12:07] tech4GT commented on #19
@icarito Is the latest version now deployed??

[2019-06-23 16:43] jywarren commented on #19
Maybe best ask in the chatroom?

On Sun, Jun 23, 2019, 8:08 AM Varun Gupta <notifications@github.com> wrote:

[2019-06-23 16:45] tech4GT commented on #19
Oh, okay! Let's work on this tomorrow though. Great game going on!😃

[2019-06-24 16:24] tech4GT commented on #19
@jywarren I just found out the underlying issue! I ran a large map on my local machine and this happened
[code]

[2019-06-24 16:25] tech4GT commented on #19
This looks like bounding the number of processes didn't really work! It's still processing everything concurrently! I would have to debug and see why this is happening!!

[2019-06-24 16:25] tech4GT commented on #19
Or maybe it did work and we just can't hold that much data in js heap memory!!

[2019-06-24 16:26] tech4GT commented on #19
We might have to write these files onto disk and then pick them up one by one when overlaying!!

[2019-06-24 16:56] tech4GT commented on #19
Alright!!!! :tada: :tada:
This is working!!! So my doubts were right! The page failing was a browser thing, since the browser places a new request every few seconds, it kind of baffles the server! I tried it with the new upload option, on a local machine and increased the allowed memory with a flag --max-old-space-size=8192, this gives 8gb ram to the node process! I monitored it and it was maxing

[2019-06-24 16:58] tech4GT commented on #19
You can find the file here https://console.cloud.google.com/storage/browser/mapknitter-is?project=public-lab&authuser=1

[2019-06-24 16:58] tech4GT commented on #19
It's so big that even screenshot won't upload to github! Yikes!

[2019-06-24 17:16] tech4GT commented on #19
<img width="671" alt="Screenshot 2019-06-24 at 10 46 15 PM" src="https://user-images.githubusercontent.com/25617855/60038426-ed97f180-96d1-11e9-9959-3bb60181558e.png">

[2019-06-24 17:18] tech4GT commented on #19
@icarito What is the max memory we can use on the cluster for our purposes??

[2019-06-24 17:54] jywarren commented on #19
That looks great. So, we need to:

But you're asking what the max is so you can set it to that?

Do we need to lower the memory footprint by storing the files temporarily, or staggering when we load and unload them from memory?

[2019-06-24 17:58] tech4GT commented on #19
Hmm, I think we can store files temporarily, but that would introduce considerable delays. I think we can set the max memory, since for this map it peaked at 2.3gb so I think if we have 8 gb of memory, it should be fine!

[2019-06-24 18:01] jywarren commented on #19
Ok great let's try that first.

On Mon, Jun 24, 2019, 1:59 PM Varun Gupta <notifications@github.com> wrote:

[2019-06-24 18:03] tech4GT commented on #19
I don't have my laptop with me, I'll push this code in as soon as I can!! We should now discuss how to store gcloud secrets on the cloud though.

[2019-06-24 18:42] jywarren commented on #19
OK, let's start a new issue for that, using these docs as a starting point:

https://cloud.google.com/kms/docs/secret-management
https://cloud.google.com/nodejs/docs/tutorials/bookshelf-on-kubernetes-engine#creating_a_cloud_storage_bucket

However, if it's being run from inside Google Kubernetes Engine, won't it
already be configured as an authenticated user, and may not need additional
secrets ad

[2019-06-25 00:47] tech4GT commented on #19
Well, I thought so too! But how do we access the credentials inside the container then?

[2019-06-25 00:59] jywarren commented on #19
In Ruby the authentication is a separate step than upload/download, so I wonder if you can just skip it? Or use locally available credentials like a Json key available locally? It should be in the docs!

[2019-06-25 01:05] tech4GT commented on #19
I'll have a look at the docs today!! :smile:

[2019-06-25 05:14] tech4GT commented on #19
Okay!! It looks like all we have to do is add a config.json file with the bucket's name and we should be able to access it directly without any secrets!! Awesome!

[2019-06-25 22:59] jywarren commented on #19
AWESOME!

On Tue, Jun 25, 2019 at 1:14 AM Varun Gupta <notifications@github.com>
wrote:

[2019-06-28 17:56] tech4GT commented on #19
Okay 2 things here:
- I think we need a stronger mapping logic from the pid to export-id, maybe we can use the current system time
- I pushed in the code which tries to connect to the bucket, but it fails. Looks like we would have to keep the secrets as environment variables after all.

@jywarren Do you think Sebastian can help with the second part?

[2019-06-28 18:15] tech4GT commented on #19
Okay, I have removed the code which was causing the exception. All we would need now are cloud credentials in the container and it should start to work.
I have also updated the start command to use up to 8gb of memory.

[2019-06-30 05:31] icarito commented on #19
Hi @tech4GT we can pass the credentials to the app using environment variables. Here's how it was done in our Ruby app: https://github.com/publiclab/mapknitter-exporter-sinatra/blob/main/files.yml
Name and use variables, and I'll be generaring the keys and adding them to the deployment environment.

[2019-07-01 20:13] jywarren commented on #19
Awesome, thanks @icarito -- @tech4GT does this make sense?

[2019-07-02 15:35] tech4GT commented on #19
Hi both! Yeah that makes sense! Just super busy with stuff! Not sure if I'll be going home this weekend but I'll try to!

[2019-07-02 15:42] jywarren commented on #19
Thanks, good luck with your work, and looking forward to it. We've just got
the very first export run from within Leaflet.DistortableImage working
yesterday on the Ruby exporter, so it'll be exciting to offer this option
as well! Thanks Varun!

On Tue, Jul 2, 2019 at 11:35 AM Varun Gupta <notifications@github.com>
wrote:

[2019-07-03 10:07] tech4GT commented on #19
![Screenshot 2019-07-03 at 3 35 58 PM](https://user-images.githubusercontent.com/25617855/60583367-5a814a80-9da8-11e9-9ee5-307cc7b63925.png)
Looks like it automatically pulls the config from the environment! @icarito

[2019-07-06 14:48] jywarren commented on #14
We may need to use the haversine formula if we're not already doing so to correctly scale: https://www.npmjs.com/package/haversine-distance

[2019-07-06 14:51] jywarren commented on #14
Hmm here are the sections where scaling might be needed. We probably need a scale coefficient.
https://github.com/publiclab/image-sequencer-app/blob/9afad914c75020d036a2f139be144b0d4ca6e6ae/src/api/v2/util/converter-multiSequencer.js#L60-L63

I couldn't find a commit referencing scale, or code referencing a scale parameter. Is this in a feature branch somewhere? Can you open a PR? Thanks!

We can

[2019-07-06 17:37] tech4GT commented on #14
Yeah, I was kind of trying this stuff out when we decided to circle back later. I couldn't really figure out how to convert the parameters using scale though, by looking at the ruby code!
I'll try this out tomorrow, and add the code I wrote for consuming the scale parameter(It's on my local machine right now, sorry). That wan't really working perfectly though!

[2019-07-06 17:38] tech4GT commented on #14
The npm module looks great! It might just make the job easier for us!!

[2019-07-06 17:39] tech4GT commented on #14
And now since the deployment stuff is figured out, this is all that remains I guess :smile:

[2019-07-07 14:26] tech4GT commented on #14
@jywarren Is there someone I can talk to maybe? Someone who worked on the ruby version, maybe they'll be able to better explain this part of the logic to me. I still can't really wrap my head around this!

[2019-07-08 15:35] jywarren commented on #14
Probably myself... would you have time to join the Code Open Call tomorrow?

https://everytimezone.com/s/adff8f42

https://publiclab.org/opencall

Thanks, Varun!

On Sun, Jul 7, 2019 at 10:27 AM Varun Gupta <notifications@github.com>
wrote:

[2019-07-08 15:42] tech4GT commented on #14
It’s in the evening, I think I can make it! Thanks!

[2019-07-09 17:25] jywarren commented on #14
OK so placement is incorrect - but rotation and distortion are good. Let's then look at this segment of code:

https://github.com/publiclab/mapknitter-exporter/blob/main/lib/mapknitterExporter.rb#L250-L282

[2019-07-09 21:25] jywarren commented on #19
OK, should i be using these now?

* http://34.74.118.242/api/v2/export/?url=http://mapknitter.org/maps/ceres--2/warpables.json&upload=true
* http://34.74.118.242/api/v2/export/?url=http://mapknitter.org/maps/ceres--2/warpables.json

* http://34.74.118.242/api/v2/export/?url=https://mapknitter.org/maps/tahuna/warpables.json&upload=true
* http://34.74.118.242/api/v2/export/?url=https://mapknitter.or

[2019-07-09 21:29] jywarren opened #21 "Save a JSON status file"
In the Ruby version, we output a `status.json` file to track status, with the following parameters:

https://github.com/publiclab/mapknitter-exporter-sinatra/blob/b065d1de02730347255d1df4c55c9368ca53ec60/app.rb#L119-L137

Perhaps we should show status in a similar way here!

https://github.com/publiclab/image-sequencer-app/blob/9afad914c75020d036a2f139be144b0d4ca6e6ae/src/api/v2/index.js#L73-L82

[2019-07-09 21:30] jywarren opened #22 "Display more information in export status"
https://github.com/publiclab/image-sequencer-app/blob/9afad914c75020d036a2f139be144b0d4ca6e6ae/src/api/v2/index.js#L106

This line shows that `Still working on it` but do we have more information about the progress of the export that we could display?

[2019-07-09 22:54] jywarren commented on #19
Hmm, the status URL is still showing `Still working on it`

[2019-07-10 03:50] tech4GT commented on #19
Yeah we still have to add the credentials as environment variables!
I think as soon as @icarito adds the credentials in the environment the npm module should automatically use them for authentication! That's what I figured from the documentation!

[2019-07-10 03:53] tech4GT commented on #19
It is saying `still working on it` because we are unable to upload images to the bucket without authentication!
I have an idea, I'll enable the gCloud upload via a query parameter! And for now add an option to export it as a local file! So you can try it out on your local machine. Since we would not want this code to be pushed to the container though, I am opening a new dev branch for this.
I'll d

[2019-07-10 06:07] tech4GT opened #23 "Incorrect overlay Problem"
## The issue:
The distorted images are not being overlaid correctly with respect to each other on the final canvas.

The logic to calculate the distortion and overlay coordinates happens inside the converter util.
https://github.com/publiclab/image-sequencer-app/blob/dev/src/api/v2/util/converter-multiSequencer.js

## Steps to reproduce the issue locally:
1. Please clone the `dev` branch.
2. run `

[2019-07-10 06:07] tech4GT commented on #23
cc @jywarren

[2019-07-10 06:09] tech4GT commented on #14
https://github.com/publiclab/image-sequencer-app/issues/23

[2019-07-10 21:24] jywarren commented on #23
Can you show with a screenshot what it's supposed to look like?

[2019-07-10 21:24] jywarren commented on #23
Thanks!

[2019-07-10 21:25] jywarren commented on #23
Ah here, i can!

![image](https://user-images.githubusercontent.com/24359/61006155-a6e40180-a337-11e9-915d-8f21faa03f72.png)

Like this?

[2019-07-10 21:25] jywarren commented on #23
Hey, it looks like perhaps you're just overlaying them in reverse order?

[2019-07-11 13:53] tech4GT commented on #23
I'm sorry, how's that? I mean the order of overlay won't change their relative positions right?

[2019-07-11 17:54] jywarren commented on #23
Ah, i'm sorry, i didn't look close enough. Here they are overlaid:

![image](https://user-images.githubusercontent.com/24359/61073283-15ca6480-a3e3-11e9-8de9-e1dfcf0c69b5.png)

It looks like there may be a couple possible issues, because it doesn't look like you've simply got the x-axis scale wrong, it seems the rightmost image is actually taller than it should be as well.

But we should remember

[2019-07-11 17:57] jywarren commented on #23
Hmm. the Ruby code relies on `gdalwarp` to figure this all out, though it does it in pure lat/lon as well: https://github.com/publiclab/mapknitter-exporter/blob/main/lib/mapknitterExporter.rb#L278

[2019-07-11 17:58] jywarren commented on #23
Sorry, what's going on here? Maybe we should add a comment?

https://github.com/publiclab/image-sequencer-app/blob/560be723d34d16fabe30fb3a38adeedbfc98cbd0/src/api/v2/util/converter-multiSequencer.js#L25-L28

[2019-07-11 18:00] tech4GT commented on #23
Oh, I added that temporarily, it brings the final canvas size in range of the max allowed array size. We should be able to remove this once we use scale to determine the final size.

[2019-07-11 18:01] jywarren commented on #23
Hmm, actually, how is `width` determined? If it's just the pixel width of the image, then we're mixing latitudes/longitudes with pixel dimensions...

https://github.com/publiclab/image-sequencer-app/blob/560be723d34d16fabe30fb3a38adeedbfc98cbd0/src/api/v2/util/converter-multiSequencer.js#L7

[2019-07-11 18:04] tech4GT commented on #23
Oh, OK! So the width field in the json represents the actual image width then?

[2019-07-11 18:04] tech4GT commented on #23
Oh, OK! So the width field in the json represents the actual image width then?

[2019-07-11 18:05] jywarren commented on #23
Can you write a simple test for `convert`? That might help us debug that section. Right now I can't see what's being passed into it -- hmm.

Actually I don't think you need to be using the `width` parameter here... let me think about `webgl-distort` for a sec...

[2019-07-11 18:07] jywarren commented on #23
Hmm. OK, so https://github.com/publiclab/image-sequencer/blob/main/src/modules/WebglDistort/info.json can already determine the height and width of the image, so it doesn't need `width` or `height` passed in, i think.

[2019-07-11 18:07] tech4GT commented on #23
Oh okay! This makes sense then!
What I did was make the final width and height of the canvas as the sum of the individual heights of all images! Then I just scaled from latitude and longitude to this final width and height!

[2019-07-11 18:08] tech4GT commented on #23
Yeah it just needs the four corner points.

[2019-07-11 18:08] tech4GT commented on #23
Yeah it just needs the four corner points.

[2019-07-11 18:09] tech4GT commented on #23
Do you think If we do not scale at all, it will work??

[2019-07-11 18:09] jywarren commented on #23
So maybe this should be:

[code]

But there's another problem - and this might be our issue -- we can't round lat/lon because even 0.000 is a matter of meters!

[2019-07-11 18:10] tech4GT commented on #23
Oh wait!! Another issue!! I just checked the json and the lat, lon values are strings! They need to be parsed first!

[2019-07-11 18:11] tech4GT commented on #23
Actually this is why I decided to scale it in the first place!

[2019-07-11 18:12] jywarren commented on #23
For now, let's not scale. Once we convert to true projected `x,y` and not `lat,lon`, that'll involve a projection function that will require a scale, like in this example:

[code]

Here actually `pxperm` is the scale value we want -- pixels per meter. `scale` in this example is just like the diameter of the earth or something :-)

[2019-07-11 18:13] tech4GT commented on #23
Okay so pxperm is consumed via the query parameter then, correct?

[2019-07-11 18:14] jywarren commented on #23
the passed `scale` query parameter is in pixels per meter, yeah.

So if we must convert to pixels here, let's use a projection:

https://github.com/publiclab/image-sequencer-app/issues/10#issuecomment-488300097

[2019-07-11 18:14] jywarren commented on #23
instead of an arbitrary scale factor.

[2019-07-11 18:16] tech4GT commented on #23
Okay, this makes sense! So we ditch the current way of calculating height and width and then using px_per_m we can compute the final height and width of the image, correct?

[2019-07-11 18:17] jywarren commented on #23
well, the values we pass into the webgl-distort module can be used to calculate the final height and width, so yeah, the values passed in originally are actually pre-distortion values. Maybe that's one thing that was broken!

[2019-07-11 18:20] tech4GT commented on #23
Okay, So I am finally starting to understand this! Yay!
Let me make some changes like you suggested and add a test like you asked and we can pick this up from there! 😃

[2019-07-11 18:22] tech4GT commented on #23
One more thing, what do we do if according to the given scale the size of the final canvas is too big for javascript array? Should we just reject the request then? Or modify the scale in some way?

[2019-07-11 18:22] jywarren commented on #23
AWESOME!

On Thu, Jul 11, 2019 at 2:21 PM Varun Gupta <notifications@github.com>
wrote:

[2019-07-11 18:23] jywarren commented on #23
Perhaps we can return an error that says it's too big; is it possible to
return a recommended maximum possible scale?

On Thu, Jul 11, 2019 at 2:22 PM Varun Gupta <notifications@github.com>
wrote:

[2019-07-11 18:24] tech4GT commented on #23
Yeah I think we should be able to figure that out based on the node version! So we just return that in the response! Awesome!

[2019-07-14 13:59] tech4GT commented on #23
![download (1)](https://user-images.githubusercontent.com/25617855/61184621-93a1a080-a66d-11e9-8f12-cd2e992d70a9.png)

[2019-07-14 14:00] tech4GT commented on #23
@jywarren I tried the fixes we discussed and that breaks the distort!! :(
I would have to look into this more! Please give me just a little more time to figure this out!

[2019-07-14 14:02] tech4GT commented on #23
Looks like the image was converted into it's reflection and the coordinates are all wrong!

[2019-07-14 20:59] jywarren commented on #23
Hm, can you point me at the commit for the new changes?

[2019-07-15 01:50] tech4GT commented on #23
https://github.com/publiclab/image-sequencer-app/commit/7cbc347a13dd8ea52a63e758109f69f83e72cd57

[2019-07-15 01:53] tech4GT commented on #23
Also I found this article for calculating the distance, can you please have a look at it and see if it is correct? Thanks.
https://stackoverflow.com/questions/27928/calculate-distance-between-two-latitude-longitude-points-haversine-formula/21623206#21623206

[2019-07-15 13:28] jywarren commented on #23
Ah yes! That would work. there's also a package: https://www.npmjs.com/package/haversine-distance

[2019-07-15 13:32] jywarren commented on #23
I left a comment on the commit. But maybe best to use PRs so I can inline comment?

https://github.com/publiclab/image-sequencer-app/commit/7cbc347a13dd8ea52a63e758109f69f83e72cd57

Thanks!

[2019-07-15 13:34] jywarren commented on #23
If we must project, then let's use these resources, copying from #10:

* https://github.com/jywarren/cartagen/blob/b348dd06e2d1a69936826e9ef4e6f9fa0ed4a060/src/mapping/projection.js#L45-L50
* http://proj4js.org/ (not sure how to use this one, but think it'd be `proj4("WGS84", "EPSG:3857", [lon, lat])`)
* Leaflet's `latLngToContainerPoint(<LatLng> latlng)` - https://leafletjs.com/reference-1.4.0.ht

[2019-08-11 07:28] jywarren commented on #19
Hm, ok i ran this: http://34.74.118.242/api/v2/export/?url=https://mapknitter.org/maps/nottingham-city-centre/warpables.json

and after the redirect, got:

[code]

[2019-08-11 07:30] jywarren commented on #19
``

I reloaded again a bit later, and got:

[code]

For reference, here is the URL: https://gist.github.com/jywarren/9b8224cdcbd2a50d9adfe097d5a8d609

[2019-08-11 09:37] tech4GT commented on #19
Hi @jywarren
I've been trying to reach Sebastian, maybe he can help with this? Actually I kind of ran into some trouble at the university this week. I'll be on this Monday morning!
Anyway this looks like an issue with the deployment, would it possible for you to run this locally for now?

[2019-08-14 17:34] tech4GT commented on #23
Hi @jywarren
I have been putting in some work here it's just not coming out right. I have tried a number of different approaches, even by using the cosine formula to compute exact distances.
I get the feeling that the metadata is just not right, are there other services which use the same metadata??

[2019-08-14 17:40] tech4GT commented on #23
So I tried this too and this is the result I am getting, which is just not quite right! :(
<img width="292" alt="Screen Shot 2019-08-14 at 11 09 38 PM" src="https://user-images.githubusercontent.com/25617855/63042884-a74c5b00-bee8-11e9-8677-882b88b399d4.png">

[2019-08-14 18:21] jywarren commented on #23
Hi, sorry, which metadata is not quite right? And, can you compare the
image you attached to the one shown in the web interface for comparison
purposes, in a screenshot? Thanks!

On Wed, Aug 14, 2019 at 1:40 PM Varun Gupta <notifications@github.com>
wrote:

[2019-08-14 18:40] tech4GT commented on #23
Sure, https://mapknitter.org/maps/pvdtest/
This is the one!

PS I'm not sure , just a hunch! :sweat_smile:

[2019-08-14 18:41] tech4GT commented on #23
For some reason my screenshot won't upload, could you take a look through the web interface please?

[2019-08-14 18:45] tech4GT commented on #23
https://mapknitter.org/maps/pvdtest/warpables.json this is the metadata.

[2019-08-15 07:08] icarito commented on #19
Hi,
I analyzed again how to achieve this and am a little bit confused with the process (creating a service account, granting privileges (done, done) - downloaded json key (done)...

now I need to create a kubernetes "secret" and then tell the container to load this secret as a file and then add a reference as an environment variable and test... sorry it turned out to be complex IMHO.

[2019-08-15 15:23] jywarren commented on #19
OK, thank you! @icarito do you need more information or input from @tech4gt
or just a little more time? Thank you!

On Thu, Aug 15, 2019 at 3:08 AM Sebastian Silva <notifications@github.com>
wrote:

[2019-08-16 14:14] jywarren commented on #23
OK, looking today -- but also noting I did a screencast of using MapKnitter with the Ruby exporter, so you can see how that lifecycle works in detail: https://github.com/publiclab/mapknitter/issues/919#issuecomment-522020038 -- I hope that's helpful context!

[2019-08-16 15:26] icarito commented on #19
Sorry for the delay.
For reference next time it'd be great to indicate what environment variable is needed and what it needs to contain!
In this case I believe it should be GOOGLE_APPLICATION_CREDENTIALS and it should point to the json credentials of a google cloud platform service account (from https://cloud.google.com/storage/docs/reference/libraries).
Give me a little more time to figure out wh

[2019-08-16 16:41] jywarren commented on #23
OK, for comparison:

![image](https://user-images.githubusercontent.com/24359/63183537-2e055300-c023-11e9-9e03-586f9f901b50.png) ![image](https://user-images.githubusercontent.com/24359/63183544-32317080-c023-11e9-9730-fe2016c114af.png)

[2019-08-16 16:44] jywarren commented on #23
The metadata is correct, as it's being used in the Ruby export process, generating (note that this version blurs the edges, but you can still see the distortion):

![image](https://user-images.githubusercontent.com/24359/63183674-93594400-c023-11e9-8139-265752f2c692.png)

[2019-08-16 16:45] jywarren commented on #23
Varun, it looks like your general distortion is OK, but you may be using the points in the wrong order. This could result in both flipping as well as the orientation issues.

[2019-08-16 16:50] jywarren commented on #23
OK, i'm going to check the corner ordering. But also, i re-distorted the image, so that it has no symmetries, and will be easier to tell if it's flipped or rotated or stretched or whatever:

![image](https://user-images.githubusercontent.com/24359/63193515-b132a300-c03b-11e9-86e2-3dd594d6b170.png)![image](https://user-images.githubusercontent.com/24359/63184030-78d39a80-c024-11e9-87b7-46f4a0a94456

[2019-08-16 16:52] tech4GT commented on #23
Hmm, so do you thing the image is flipped horizontally?
I'm sure that changing the order of points won't really change much but it'll rotate the image in the same distortion since the corner points did not change!

[2019-08-16 16:53] tech4GT commented on #23
I tried this using the following formula too:
[code]
This gives the following coordinates with scale 5
[code]

[2019-08-16 17:00] jywarren commented on #23
I'm installing it locally now, but the flip could also come from not
setting the sign of latitude or longitude correctly, or by reversing lat
and lon -- some conversion equations use a reversed convention... i.e. set
0,0 to SE instead of NW or something like that...

On Fri, Aug 16, 2019 at 12:54 PM Varun Gupta <notifications@github.com>
wrote:

[2019-08-16 17:19] jywarren commented on #23
Gah, i can't get chrome to boot on my chromebook. I think it needs more memory. Let me think on how to get this running locally.

[2019-08-16 17:35] jywarren commented on #23
Looking, and we should be able to pass the text of https://mapknitter.org/maps/pvdtest/warpables.json directly to the `convert(arr)` function, and get a sequencer string. I'll try that, and just run it locally in node, if I can.

[code]

[2019-08-16 17:38] jywarren commented on #23
Hm, ok, i got:

[code]

That's not right...

[2019-08-16 17:40] tech4GT commented on #23
What branch are you on? Are you sure you are running dev?

[2019-08-16 17:43] jywarren commented on #23
yes, dev... looking now...

What's going on here? why is only one based on `node.lat`?

https://github.com/publiclab/image-sequencer-app/blob/a43107f12e01ce545edbcd6b5fb34cef2e801642/src/api/v2/util/converter-multiSequencer.js#L46-L53

[2019-08-16 17:45] tech4GT commented on #23
Yeah so I tried a couple of versions of these.
In this version I first find the distance based on lat difference alone, then on lon difference alone.

[2019-08-16 17:46] tech4GT commented on #23
This is the lon part
https://github.com/publiclab/image-sequencer-app/blob/a43107f12e01ce545edbcd6b5fb34cef2e801642/src/api/v2/util/converter-multiSequencer.js#L37-L43

[2019-08-16 17:46] jywarren commented on #23
OK, let me walk through step at a time.

1. we find the origin of `minX,minY`
2. for each corner, we find the offset, measured from that origin, in pixels

[2019-08-16 17:47] tech4GT commented on #23
Not initially, we use the haversine to calculate x and y coordinate of each corner with respect to the origin and then use scale to convert these `meters` to `pixels`

[2019-08-16 17:55] jywarren commented on #23
Ah, i passed no scale param. doing now.

[2019-08-16 17:56] jywarren commented on #23
`convert(images, 10)` yielded, after I made some changes:

`webgl-distort{nw%3A642.6311735245%252C-376.3761919533%7Cne%3A642.6316122766%252C-376.3762424127%7Cse%3A642.6316415499%252C-376.37660679479995%7Csw%3A642.6311529897%252C-376.3764083174}`

[2019-08-16 17:57] jywarren commented on #23
Which put into sequencer as `https://sequencer.publiclab.org/examples/#steps=webgl-distort{nw%3A642.6311735245%252C-376.3761919533%7Cne%3A642.6316122766%252C-376.3762424127%7Cse%3A642.6316415499%252C-376.37660679479995%7Csw%3A642.6311529897%252C-376.3764083174}` yielded:

![image](https://user-images.githubusercontent.com/24359/63187796-bdafff00-c02d-11e9-8f86-3c6dae105788.png)

[2019-08-16 17:59] jywarren commented on #23
The canvas resize doesn't work while in the same sequencer, but let me see...

[2019-08-16 19:42] jywarren commented on #23
Oh that's weird:

![image](https://user-images.githubusercontent.com/24359/63193711-2aca9100-c03c-11e9-8983-37549f85e2e1.png)

The browser sequencer changed the values to

`0,100 1023,-50 1223,867 100,767`

instead of (rounding):

`642,-376 642,-376 642,-376 642,-376`

[2019-08-16 19:42] jywarren commented on #23
Um, let me check my arithmetic...

[2019-08-16 19:52] jywarren commented on #23
OK, also looking at point ordering conventions, as we addressed in the Ruby version: https://github.com/publiclab/Leaflet.DistortableImage/pull/322

[2019-08-16 19:55] jywarren commented on #23
OK, my current code is producing, with NW-0, NE-1, SE-2, SW-3:

0, 2, 1, 3 (receiving from warpables.json)

webgl distort wants: 0,1,2,3

[2019-08-16 20:09] jywarren commented on #23
Hm. ok, i corrected that but it's now outputting:

[code]

I'll push up a commit just to pause for a sec... https://github.com/jywarren/image-sequencer-app/commit/b9b5de1ae5f6d60d6ee8dc43d9d18070d36ee76e

[2019-08-16 20:37] jywarren commented on #19
OK, i see 2 issues.

First, the google cloud storage credentials, which we think we can solve similarly to how we did the Sinatra Ruby app: https://github.com/publiclab/mapknitter-exporter-sinatra/blob/b065d1de02730347255d1df4c55c9368ca53ec60/app.rb#L53

Second, the issue with the app not connecting. What's interesting here is:

1. the initial request is usually good. It reads the remote `warpable

[2019-08-16 21:38] jywarren commented on #23
OK, so for comparison, using Leaflet, the pixel coordinates are (they will be scaled, but proportions should be the same):

[code]

[2019-08-16 21:53] jywarren commented on #23
OK, I added projection properly, with proj4 (https://www.npmjs.com/package/proj4) -- check it out:

[code]

Still not sure. But see https://github.com/publiclab/image-sequencer-app/pull/24 ...

[2019-08-16 22:30] jywarren commented on #23
Hmm. I'm not sure now that projection is our problem. It could be ordering. I'm confused, but I even ported in Leaflet's projection functions and used them (https://github.com/Leaflet/Leaflet/blob/dc6a0ae61a70b1d34f9ee2c4f814bdd21841c774/src/geo/projection/Projection.SphericalMercator.js) and I got:

[code]

Which is actually exactly what we had from proj4, which is at least comforting. So, what's

[2019-08-16 22:35] jywarren commented on #23
Hey wait, is this the right thing, upside down?

![image](https://user-images.githubusercontent.com/24359/63201762-9fa9c500-c054-11e9-9f5e-f1f5b3ba7df9.png)

[2019-08-16 22:35] jywarren commented on #23
Compare to
![image](https://user-images.githubusercontent.com/24359/63201772-a89a9680-c054-11e9-82df-af5bfccdb86d.png)

[2019-08-16 22:42] jywarren commented on #23
Yes!!! It is!!!

![image](https://user-images.githubusercontent.com/24359/63201974-87867580-c055-11e9-92bf-a3103af19648.png)

[2019-08-16 22:42] jywarren commented on #23
OK, so we can just use proj4, but we need to reverse the y-values and re-order the coordinates. What do you think???

[2019-08-16 22:44] jywarren commented on #23
Reverted to proj4 in https://github.com/publiclab/image-sequencer-app/pull/24 - you can work from this!

[2019-08-17 02:04] tech4GT commented on #23
Looking into it!

[2019-08-17 02:09] tech4GT commented on #23
Or we could add a 180 degree rotate step??

[2019-08-19 14:58] jywarren commented on #23
Made the change in #24!

[2019-08-20 08:01] icarito commented on #19
Hey!
I was able to get it to export to the bucket but first I had to figure out an issue, that the `upload` variable ends up being `undefined` unless one sets `&upload=true` as a GET parameter.

Try here!
http://34.74.118.242/api/v2/export/?url=http://mapknitter.org/maps/pvdtest/warpables.json&scale=30&upload=true

Now it seems to work saving to the `maknitter-is` bucket.

[2019-08-20 13:58] tech4GT commented on #19
Awesome! This works like a charm!! :100:
Thanks a lot for your help @icarito

[2019-08-20 14:56] jywarren commented on #19
Looking great -- i think we need to increment the `pid` though as it's
getting overwritten mapybe?

Could we use a more unique id?

On Tue, Aug 20, 2019 at 9:58 AM Varun Gupta <notifications@github.com>
wrote:

[2019-08-20 15:00] tech4GT commented on #19
Hmm, right now we are calculating ids like this
[code]
Do you think we might run out? I mean it would take thousand exports on the same Pid for it run out. Or maybe I can check and if there's a clash we can regenerate!

[2019-08-20 15:14] jywarren commented on #19
I think that should be good, although perhaps we can put some unique id
from the cluster instance + timestamp or something? We can revisit later
but in theory more than one export could conceivably be run within a
second, so timestamp + 1000x random should be good but we should be able to
think of something more truly unique!

On Tue, Aug 20, 2019 at 11:00 AM Varun Gupta <notifications@github.com>

[2019-08-20 15:18] tech4GT commented on #19
Alright then let's generate the id based base on pid and timestamp for now and we can revisit this later!

[2019-08-22 16:32] tech4GT commented on #23
@jywarren Moving over from #24
Working on a module which would resize the image to the desired width and height. After that we should be able to debug the overlay issue more clearly!

[2019-08-22 16:47] jywarren commented on #23
awesome!

On Thu, Aug 22, 2019 at 12:33 PM Varun Gupta <notifications@github.com>
wrote:

[2019-08-23 18:37] rexagod opened #27 "Initial installation errors"
Okay so I migrated to a different machine and `npm i`ed this lib after `sudo apt-get install -y build-essential libxi-dev libglu1-mesa-dev libglew-dev pkg-config`ing the env. The error logs were:
[code]
cc @publiclab/is-reviewers

[2019-08-23 18:57] #27 closed

[2019-08-24 15:35] tech4GT commented on #23
Okay I think this should work https://www.npmjs.com/package/image-sequencer-app-resize

[2019-08-24 15:42] tech4GT commented on #23
Hmm, still not quite right! Let me make sure it does resize correctly.
<img width="470" alt="Screen Shot 2019-08-24 at 9 03 21 PM" src="https://user-images.githubusercontent.com/25617855/63639668-d1a1d380-c6b3-11e9-8267-558da0b70717.png">

[2019-08-26 16:47] jywarren commented on #23
Oh, whoa!!! It looks very close, Varun! Great work, i'm sure we're almost
there!!!

On Sat, Aug 24, 2019 at 11:42 AM Varun Gupta <notifications@github.com>
wrote:

[2019-09-13 14:52] tech4GT commented on #23
Hi @jywarren
I think I got the problems with overlay resolved. This is the result currently!
<img width="415" alt="Screen Shot 2019-09-13 at 8 18 50 PM" src="https://user-images.githubusercontent.com/25617855/64871943-e4c91300-d663-11e9-888a-17c6a0d5085b.png">
It does not line up because the resize module which I adapted from the native resize module in image-sequencer isn't working properly on th

[2019-09-13 16:07] jywarren commented on #23
Ah, i see! The positions do look good and with the width fix, I'm really
optimistic about this! Thanks, Varun!

On Fri, Sep 13, 2019 at 10:53 AM Varun Gupta <notifications@github.com>
wrote:

[2019-09-13 16:22] tech4GT commented on #23
Yeah! I tried this out with a bunch of different scale values and it gives the same result for all of them! So I am sure that all we need now is to fix the resize! yay!
About that, the module seems to be working if I hardcode it into image-sequencer! Trying to figure it out.

[2019-09-15 09:21] tech4GT commented on #23
Okay, a lot of debugging later, I finally figured this out! So what is happening is that after the distortion the image has some extra space which is not cropped out for some reason! Due to this the final size of the usable area of the image is coming out to be incorrect!
<img width="533" alt="Screen Shot 2019-09-15 at 2 48 39 PM" src="https://user-images.githubusercontent.com/25617855/64919433-2f

[2019-09-15 09:23] tech4GT commented on #23
The inner rectangle is the whole area of the image but that has some extra space on the right side which was causing the image to come out narrower than we were expecting!

[2019-09-16 07:36] tech4GT commented on #23
One solution that comes to my mind is a `trim module` which would trim the image down from the edges up until it finds a row or column with a non zero pixel!

[2019-09-16 07:36] tech4GT commented on #23
I tried this! It works!!! :tada:
<img width="526" alt="Screen Shot 2019-09-16 at 1 06 16 PM" src="https://user-images.githubusercontent.com/25617855/64940903-d86ed100-d882-11e9-8da4-7d4f81a58533.png">

[2019-09-16 07:37] tech4GT commented on #23
We might wanna make changes to the wegl-distort module in the long term though!

[2019-09-16 12:34] #15 closed

[2019-09-16 12:35] #13 closed

[2019-09-16 12:36] #14 closed

[2019-09-19 16:11] jywarren commented on #23
OK, cool! I see the latest output generated:

![image](https://user-images.githubusercontent.com/24359/65261253-d81a4400-dad5-11e9-9bdb-b08cbf5703c8.png)

[2019-09-19 16:13] jywarren commented on #23
Compare to original:

![](https://user-images.githubusercontent.com/24359/61006155-a6e40180-a337-11e9-915d-8f21faa03f72.png)

[2019-09-19 16:19] jywarren commented on #23
Wow, Varun, this looks perfect. Amazing work.

So is this the initiating URL? I just opened this and it said `This site can’t be reached / 34.74.118.242 refused to connect.`

http://34.74.118.242/api/v2/export/?url=https://mapknitter.org/maps/ceres--2/warpables.json

[2019-09-19 16:19] jywarren commented on #23
Link to #28

[2019-09-19 16:24] tech4GT commented on #23
@jywarren I think that's because we are missing the scale, try this:
http://34.74.118.242/api/v2/export/?url=https://mapknitter.org/maps/ceres--2/warpables.json&scale=3

[2019-09-19 16:24] jywarren commented on #23
Or is it this? http://34.74.118.242/api/v2/export/?url=https://mapknitter.org/maps/ceres--2/warpables.json&upload=false&scale=50

The previous one had finally redirected to the full longer URL, but then also showed an error. Let's get the README updated so we know how to initiate this? Thanks, Varun! Again, fantastic work!

[2019-09-19 16:25] jywarren commented on #23
Let's add that to the README, thanks! But also why am I getting intermittent `refused to connect` messages?

[2019-09-19 16:26] tech4GT commented on #23
Actually 50 I think would be too big for it to handle! We could start with something like 5.

[2019-09-19 16:30] jywarren commented on #23
oh ok. maybe the scale is implemented differently that in mapknitter-exporter. 50 is a reasonable value there. But we can set up a conversion function and disambiguate later. Great, i'll try!

[2019-09-19 16:30] jywarren commented on #23
http://34.74.118.242/api/v2/export/?url=https://mapknitter.org/maps/ceres--2/warpables.json&scale=5

[2019-09-19 16:30] tech4GT commented on #23
Try this, it worked: http://34.74.118.242/api/v2/export/?url=http://mapknitter.org/maps/ceres--2/warpables.json&scale=3

[2019-09-19 16:33] tech4GT commented on #23
@jywarren I think the warpable needs to use http too!

[2019-09-19 16:34] tech4GT commented on #23
Yeah, I think we gotta scale the scale lol.

[2019-09-19 16:52] jywarren commented on #23
OK perfect, that worked!

Can you make a quick edit to the README and actually add this test URL that people can use?

Let's close this and open a new one for scale.

[2019-09-19 16:53] jywarren opened #29 "Change scale calculation to match mapknitter-exporter"
https://github.com/publiclab/mapknitter-exporter/ accepts 50 as scale with no problem, but this exporter uses values in the range of 3-5 with similar sized output. Let's just compare the scaling functions to be sure we are using the same parameter/unit/conversion!

[2019-09-19 16:53] jywarren commented on #23
https://github.com/publiclab/image-sequencer-app/issues/29

[2019-09-19 16:53] #23 closed

[2019-09-19 16:56] jywarren commented on #29
Let's link to the code sections which govern scale!

Here, in `mapknitter-exporter`, scale is actually the `pxperm` parameter, referring to `pixels per meter`:

https://github.com/publiclab/mapknitter-exporter/blob/c75c31d43b0d834c8198d43f857f4483ed5ce534/lib/mapknitterExporter.rb#L126-L127

Where is it in `image-sequencer-app`?

[2019-09-19 16:56] jywarren commented on #29
cc @tech4GT

[2019-09-19 17:38] jywarren commented on #19
OK, just circling back here... I'm getting on this URL:

http://34.74.118.242/api/v2/export/?url=http://mapknitter-stable.laboratoriopublico.org/maps/test6/warpables.json&scale=5

`This page isn’t working - 34.74.118.242 didn’t send any data.`

But it's still spinning now... it's a different error than `This site can’t be reached 34.74.118.242 refused to connect. ERR_CONNECTION_REFUSED` above. It'

[2019-09-19 17:43] tech4GT commented on #19
I see! This looks like an issue in maps with more images. Well at least we know it works correctly, I’ll try to isolate the exact issue we are running into 🙂

[2019-09-19 17:46] jywarren commented on #19
OK awesome. I'm sure we are almost there!!! Interesting... I can repeatedly run http://34.74.118.242/api/v2/export/?url=http://mapknitter-stable.laboratoriopublico.org/maps/test6/warpables.json&scale=5&upload=true with the same response, while

http://34.74.118.242/api/v2/export/?url=http://mapknitter.org/maps/pvdtest/warpables.json&scale=30&upload=true

Consistently works!

[2019-09-19 17:47] jywarren commented on #19
oh wait... this may not be you? I don't see the images up at http://mapknitter-stable.laboratoriopublico.org/maps/test6/edit anymore. Maybe there was an issue with saving images there?

[2019-09-19 17:48] jywarren commented on #19
no, they're there. Maybe some issue with http://mapknitter-stable.laboratoriopublico.org/maps/test6/warpables.json ? Let's test another from the main Mapknitter site...

[2019-09-19 17:48] jywarren commented on #19
Oh! Those images have no coordinates! They aren't placed! http://mapknitter-stable.laboratoriopublico.org/maps/test6/warpables.json

[2019-09-19 17:48] jywarren commented on #19
Whew, ok, well I'll look over there.

[2019-09-19 17:52] jywarren commented on #19
Trying:

* http://34.74.118.242/api/v2/export/?scale=30&upload=true&url=https://mapknitter.org/maps/belle-isle-globe/warpables.json
* http://34.74.118.242/api/v2/export/?scale=30&upload=true&url=https://mapknitter.org/maps/nottingham-city-centre/warpables.json

Both worked immediately 🎉

[2019-09-19 17:57] jywarren commented on #19
* http://34.74.118.242/api/v2/status/?pid=22375
* http://34.74.118.242/api/v2/status/?pid=22375

Uh oh. They both got the same `pid`. What happened? Now http://34.74.118.242/api/v2/status/?pid=22375 is not loading. It could be related to the two getting the same PID. Do we need to make the `pid` more unique as outlined above?

[2019-09-19 19:52] jywarren commented on #19
OK, it finally exported, but returned this, which seems like it's from yet another unrelated map. I think we have a `pid` collision issue here?

![image](https://user-images.githubusercontent.com/24359/65268656-9d200c80-dae5-11e9-8fd2-9c8f666d6819.png)

[2019-09-19 19:53] jywarren commented on #19
And sorry, the above message was supposed to post 2 hours ago, it didn't take 2 hours to run :-)

[2019-09-20 15:05] jywarren commented on #29
Here it is in the converter. Looks like it is a simple coefficient to x,y position when converting from lat/lon to x,y:

https://github.com/publiclab/image-sequencer-app/blob/166cf3bc62120a27b49696ee47c8a63a050f3267/src/api/v2/util/converter-multiSequencer.js#L54-L60

[2019-09-24 19:05] jywarren commented on #29
I'm running in both to see the dimensions that come out based on scales we choose:

https://mapknitter.org/maps/ceres--2/

`scale=10` in the Ruby exporter - 1769x1728:

http://export.mapknitter.org/public/warps/1569351850/1569351850.jpg

`scale=3` in `image-sequencer-app` - 1032x763:

https://user-images.githubusercontent.com/24359/65633362-ea025800-dfa9-11e9-9736-c4a3c5f2a990.png

OK, i'll try do

[2019-09-25 19:41] jywarren commented on #29
Oh, oops, the Ruby one didn't come out right anyways. I'll try again at scale 3 to check.

![image](https://user-images.githubusercontent.com/24359/65633816-f0dd9a80-dfaa-11e9-86aa-32026c303cda.png)

[2019-09-25 19:42] jywarren commented on #29
Trying manually/directly with http://export.mapknitter.org/export?url=https://mapknitter.org/maps/ceres--2/warpables.json&scale=3

That led to a json file I'm fetching with `$.get('https://export.mapknitter.org/id/1569440559/status.json').done(function(r){console.log(r)});`

[2019-09-25 20:00] jywarren commented on #29
OK, this is the output, at 12720x7437 (whoa!): https://mapknitter-exports-warps.storage.googleapis.com/1569440559/1569440559.jpg

[2019-09-25 20:04] jywarren commented on #29
OK, scale `30` results in 1272x744, in Ruby!

https://mapknitter-exports-warps.storage.googleapis.com/1569441720/1569441720.jpg

[2019-09-25 21:11] jywarren commented on #29
So, in Ruby, since it's `cm per pixel`, higher numbers mean smaller pictures. For IS, higher numbers is more pixels, so it's probably `px per meter` or equivalent.

if 12720x7437 is 30 cm/px and 1272x744

then 1032x763 could be 3 px/meter...? that would be... 33 cm/px... pretty close!

[2019-09-25 21:14] jywarren commented on #29
so, to reverse this, let me try converting and set a scale and see what we get. If we want 10cm/px, we'd need 10 px/meter, actually, so setting 10 for both should result in the same size image, roughly. Let's test that:

http://34.74.118.242/api/v2/export/?url=http://mapknitter.org/maps/ceres--2/warpables.json&scale=10

http://export.mapknitter.org/export?url=https://mapknitter.org/maps/ceres--2/w

[2019-09-25 21:21] jywarren commented on #29
That made:

Ruby: 3816x2231 - https://mapknitter-exports-warps.storage.googleapis.com/1569446002/1569446002.jpg

IS: 3440x2544 - https://publiclab.org/system/images/photos/000/035/438/original/download.jpeg (couldn't upload here)

Great! I think this is it! So, @tech4GT -- we just need to take the scale param in IS and do:

[code]

Let's do it!

[2019-09-25 21:25] jywarren commented on #29
Did this and bumped from `1.0.0` to `1.0.1`! Let's release a new version!

[2019-09-25 21:34] #29 closed

[2019-09-25 21:42] jywarren commented on #19
Hi @tech4GT I am still seeing this PID collision issue here. Are you able to check?

[2019-09-25 22:03] jywarren commented on #19
I ran nottingham-centre, and got `Your Image is exporting, to load Image please visit, http://34.74.118.242/api/v2/status/?pid=21234`

The next one got: `Your Image is exporting, to load Image please visit, http://34.74.118.242/api/v2/status/?pid=21291`

So that seems OK. But the PID is so short, I worry we need a full timestamp to be added for uniqueness!

[2019-09-27 20:28] jywarren commented on #19
Confirming - i opened http://34.74.118.242/api/v2/export/?scale=30&upload=true&url=https://mapknitter.org/maps/nottingham-city-centre/warpables.json 5 times and got the same PID each time.

[2019-09-27 20:37] jywarren commented on #19
http://34.74.118.242/api/v2/status/?pid=21234 and http://34.74.118.242/api/v2/status/?pid=21291 still both report `still working on it` -- maybe they stalled...

[2019-10-22 04:28] tech4GT commented on #19
@jywarren I got it, since we don't fork the export on the exporter process that is why it uses the same pid!  Silly me! I'll use a combination of the timestamp and a random number here!

[2019-10-22 04:32] tech4GT commented on #19
Done!

[2019-10-22 04:33] tech4GT commented on #19
Okay I see one more issue, for larger image maps it falls to the event emitter error. :disappointed:
Let me see what we are doing wrong!

[2019-11-04 15:50] jywarren commented on #19
Hi Varun, did you figure anything out on this? can I help at all?

On Tue, Oct 22, 2019 at 12:34 AM Varun Gupta <notifications@github.com>
wrote:

[2019-11-04 18:52] tech4GT commented on #19
Hey @jywarren  I did do some testing and the pid issue seems to be resolved completely, as for the issue with the listeners I am inclined to think that it is a problem with image sequencer itself. Maybe I should test that out too?

[2019-11-04 20:04] jywarren commented on #19
The listeners issue is the one where it is not immediately replying (after forking the process)?

(i tried this: http://34.74.118.242/api/v2/export/?scale=30&upload=true&url=https://mapknitter.org/maps/nottingham-city-centre/warpables.json and got this, so we'll see: http://34.74.118.242/api/v2/status/?pid=4f776d18900486c116188a3faa2080a2-90721)

[2019-11-04 20:05] jywarren commented on #19
Yes if you can clearly articulate the listeners issue (sorry, just catching up here) that'd be great!

[2019-11-05 06:57] tech4GT commented on #19
Sure!

http://34.74.118.242/api/v2/export/?url=http://mapknitter.org/maps/pvdtest/warpables.json&scale=5&upload=true

You can try this out and this would work and even the ceres map works fine but the issue I noticed is that when we try this for larger maps like the uk-irish border map it lands into the following error:
[code]
I tried increasing the limit on the app and still the issue remains whi

[2019-11-05 07:04] tech4GT commented on #19
Although I found a couple of articles which say that there is nothing wrong with continuing to process after the express response is sent. This was the reason I didn't bother to fork initially.
https://www.bennadel.com/blog/3275-you-can-continue-to-process-an-express-js-request-after-the-client-response-has-been-sent.htm

I think that our task might be too intensive though, let me try to put it in

[2019-11-05 09:33] tech4GT commented on #19
Okay, I tried forking the process and that does not seem to solve our problem! It still throws the same error. Hmm, maybe it is a problem with a dependency.
<img width="1127" alt="Screen Shot 2019-11-05 at 3 00 59 PM" src="https://user-images.githubusercontent.com/25617855/68195714-5460dc00-ffdd-11e9-8cbc-be06a09de48c.png">

[2019-11-05 11:54] tech4GT commented on #19
@jywarren Is this export correct? The mapknitter map page for https://mapknitter.org/maps/nottingham-city-centre/ takes forever to load.
<img width="460" alt="Screen Shot 2019-11-05 at 5 22 15 PM" src="https://user-images.githubusercontent.com/25617855/68205747-035ae300-fff1-11e9-8909-b9ea315618ef.png">

Basically the cloud exporter reboots for some reason when it is under load, this is the result

[2019-11-05 12:23] tech4GT commented on #19
Update: I am trying out some tweaks and looks like our concurrency limit has a huge effect on the export. Let me figure out what is the max we can do without running into the listeners issue.

[2019-11-05 12:26] tech4GT commented on #19
Another thing is that our compositing step is linear right now, maybe in version 3 we can make the compositing itself run concurrently! That would make it insanely fast!!

[2019-11-05 15:50] tech4GT commented on #19
Hmm I raised the concurrency limit to 10 and now it works locally! I even tried it with maps with a lot of images! Like http://34.74.118.242/api/v2/export/?url=http://mapknitter.org/maps/irish-uk-border-mapping/warpables.json&scale=30
But for some reason it's not working in the cloud, the server restarts but no errors are reported!

[2019-11-05 16:38] jywarren commented on #19
Hmm, i'm not that familiar with concurrency, but is it at all related to
the number of available threads? In a containerized environment maybe there
is some variation of available resources when compared to your local env?

On Tue, Nov 5, 2019 at 11:18 AM Varun Gupta <notifications@github.com>
wrote:

[2019-11-05 17:08] tech4GT commented on #19
Oh, the concurrency is just the number of sequencer instances we have at any point of time. Still the server restarting in the middle of the export doesn't make sense to me. Well at least it's working locally! I'll do some research as to why this might be happening!
Could you please also confirm if the export I posted above correct?

[2019-11-05 18:36] jywarren commented on #19
The export shown only looks like 1 image, but the original has many images:

https://mapknitter.org/maps/nottingham-city-centre/

It does seem to be stalling for some reason. I'll check it out, but maybe
try another in the meantime?

On Tue, Nov 5, 2019 at 12:19 PM Varun Gupta <notifications@github.com>
wrote:

[2019-11-05 18:38] jywarren commented on #19
ok, i got it to load - here:

![image](https://user-images.githubusercontent.com/24359/68235597-84a27d80-ffd1-11e9-82ef-b0f73d60e87e.png)

[2019-11-06 05:28] tech4GT commented on #19
Okay tried this on a couple more maps and it seems to work locally! Yay!

<img width="463" alt="Screen Shot 2019-11-06 at 11 05 10 AM" src="https://user-images.githubusercontent.com/25617855/68271012-554d4880-0085-11ea-8ac3-040ac98459e2.png">

<img width="458" alt="Screen Shot 2019-11-06 at 10 56 55 AM" src="https://user-images.githubusercontent.com/25617855/68270719-431eda80-0084-11ea-869b-be6cec

[2019-11-06 05:33] tech4GT commented on #19
@jywarren maybe Sebastian would be able to help us with this? The thing is that if the server crashes there are no logs for it. To me it looks like it reboots for no reason!

[2019-12-04 23:02] jywarren opened #32 "Accept GET/POST param for warpables json instead of a URL"
I want to move us closer to completing integration with MapKnitter, and we'll need this to be able to accept the JSON collection as follows:

[code]

Just like in https://github.com/publiclab/mapknitter-exporter-sinatra#usage

Can we do that pretty easily, if URL isn't specified?

https://github.com/publiclab/image-sequencer-app/blob/892c1ba62d8101c41848f08b226b164d6eea9f4c/src/api/v2/index.js#L17

[2019-12-04 23:02] jywarren commented on #19
Hi, @tech4GT I'm going to ask Sebastian about this, sorry for the delay. I wanted also to ask if you'd be able to help with https://github.com/publiclab/image-sequencer-app/issues/32, which is a pretty small issue. Thanks!

[2019-12-04 23:04] jywarren commented on #32
Once we have this, we can show the above in the README as how to use this:

[code]

[2019-12-05 23:08] jywarren commented on #32
I created a PR here - do you think this'll work, @tech4GT ? https://github.com/publiclab/image-sequencer-app/pull/33

[2019-12-06 04:39] tech4GT commented on #19
Hi @jywarren
Sorry I just saw this one! Actually I am in the middle of university final evaluations, if I look into this next week would that be okay?

[2019-12-06 05:22] jywarren commented on #19
Of course, no stress at all and good luck!!

On Thu, Dec 5, 2019, 11:40 PM Varun Gupta <notifications@github.com> wrote:

[2019-12-06 14:59] jywarren opened #34 "Improved test assertions"
We should be able to parse the returned data in tests to be sure they include an image; in general, tests are a little sparse; this tests did not fail although it errored:

https://travis-ci.org/publiclab/image-sequencer-app/builds/621629845?utm_source=github_status&utm_medium=notification

[2019-12-06 15:00] jywarren commented on #34
Here we could be parsing and running more specific assertions on the returned data:

https://github.com/publiclab/image-sequencer-app/blob/ba7adc22847e798a44918d082399d76dfefabc19/test/process.js#L94-L97

I think it should be an HTML page with an embedded image?

[2019-12-06 15:42] #32 closed

[2019-12-06 19:49] jywarren opened #35 "Allow CORS posting"
Now we've implemented #33, and I edited the README to reflect the ability to POST to initiate an endpoint, we need to allow CORS:

$.post("http://34.74.118.242/api/v2/export/", {scale: 30, upload: true, }).done(function(response) {console.log('response')});

POST http://34.74.118.242/api/v2/export/ 500 (Internal Server Error)
send @ application-36d2d4aca752bde59be9ba00946b83dd9ba5c7994bc707e301636

[2019-12-06 20:15] jywarren commented on #35
here we just need to configure Express to permit CORS

[2019-12-06 20:39] icarito commented on #19
Looking to investigate this I checked the logs for the Kubernetes container that runs this and found:
[code]
Hope it sheds some light!

[2019-12-06 20:41] jywarren commented on #19
I think that's me, sending poorly formatted requests... can be ignored!

[2019-12-06 20:47] icarito commented on #19
So I just tried the problematic URL and while at the same I was looking at the kubernetes pod logs, and realized that the browser response with the status URL isn't being sent until _after_ export process is done. I think it's necessary to end the process and do the processing in a fork.

[2019-12-06 21:15] icarito commented on #19
Okay a clarification from repeating the test:
For the very first process that takes a long time, the response is blocking.
The log just says:

`Export endpoint hit for url http://mapknitter.org/maps/pvdtest/warpables.json`

And blocks for a longer time.

Then, when the log starts moving along with:
[code]
At the same time a response is given to the browser.

[2019-12-06 21:17] jywarren commented on #19
Note this line from your log! `Current Concurrency: 1`

[2019-12-06 21:17] jywarren commented on #19
Anyways maybe unrelated.

[2019-12-06 22:29] jywarren commented on #19
Just noting that I think we are forking here; https://github.com/publiclab/image-sequencer-app/blob/ac9b1113da2906f8d1ca5260dcb0b89507e4b6f6/src/api/v2/index.js#L65

Also - @tech4GT is in exams now, but once he's back, i think somehow we aren't seeing the Google Cloud storage version working; I'm receiving back an HTML page even if `upload=true` now. I may have messed up some of the parameter pars

[2019-12-06 22:31] jywarren opened #36 "Ability to specify a data-url response instead of HTML wrapping a data-url"
We should make a parameter called `response=` which can be set to `response=html` or `response=dataurl` maybe?

[2019-12-06 22:35] jywarren commented on #19
Well - i get "still working on it" and then redirected to the HTML page when it's done. I opened this: https://github.com/publiclab/image-sequencer-app/issues/36

[2019-12-06 22:36] jywarren commented on #36
https://github.com/publiclab/image-sequencer-app/blob/dca8158e18a5d83476cb779da5a8d2dbe418cd2b/src/api/v2/index.js#L71-L79

[2019-12-06 22:37] jywarren commented on #36
Actually we should just redirect to a JSON status file that's actually stored in Google Cloud, which we are periodically updating as the export progresses.

[2019-12-06 22:40] jywarren commented on #36
See how here, we create a JSON file with the status, and repeatedly save it to Google Cloud storage as the process continues. And we report the location of that file back to the user immediately, so they can fetch it as often as they like without running any process on the exporter itself:

https://github.com/publiclab/mapknitter-exporter-sinatra/blob/main/app.rb#L119-L187

[2019-12-17 10:20] tech4GT commented on #19
Hi @jywarren 😃
Finally handed in my thesis! Could you give me a little context here.

[2019-12-17 18:14] jywarren commented on #19
Congratulations!!!!! That's great! You must feel super.

We've identified that we need to enable CORS in the app (DONE); see #35 -- and to install SSL utilities to get it running at https (#38). Then the ability to specify an response format in #36.

Then we're just trying to debug why this crashes on big exports! Thanks, we're very close!!

[2019-12-20 05:37] tech4GT commented on #19
Awesome! I'll look into #35 :smile:

[2019-12-21 06:01] tech4GT commented on #35
Alright! I think if I remember correctly there's a cors middleware that should be perfect!

[2019-12-21 06:05] tech4GT commented on #35
Alright! Added it! :smiley:

[2019-12-21 06:05] tech4GT commented on #19
Moving on to #36

[2019-12-21 06:06] #35 closed

[2019-12-21 06:23] tech4GT commented on #36
Okay! This makes sense! So we just make and store a json file in the google cloud and update it periodically! Hmm, I wonder if this file could be stored locally? Since this file can be deleted after the export completes I'm not entirely sure if keeping it in the cloud would be a good idea, don't you think?
cc @jywarren

[2019-12-24 17:59] jywarren opened #37 "TypeError: obj.nodes is not iterable at convert"
I got this error, and I think i'm submitting a request where this is a string and not JSON?

[code]

[2019-12-24 18:01] jywarren commented on #37
I'm working from code in https://github.com/publiclab/Leaflet.DistortableImage/pull/485 and i realized, we are sending a string, not JSON -- because https://github.com/publiclab/mapknitter-exporter-sinatra#usage actually wants a string! Here, we want JSON, not stringified. So we're all good but perhaps in the future we may need to catch this and convert stringified JSON to JSON.

[2020-01-02 18:37] jywarren commented on #36
We actually want a permanent record of the status -- that's how the Ruby
exporter works. Thank you!!!

On Sat, Dec 21, 2019 at 1:23 AM Varun Gupta <notifications@github.com>
wrote:

[2020-01-02 18:37] jywarren commented on #35
awesome....>!!!!!!!

On Sat, Dec 21, 2019 at 1:11 AM Varun Gupta <notifications@github.com>
wrote:

[2020-01-06 02:24] tech4GT commented on #36
Oh! Okay! I'll get started on this then! 😃

[2020-01-10 12:29] tech4GT commented on #21
Hi @jywarren Sorry for the absence, I was on vacation! 😃
I am starting this now! I can't seem to find the other thread where we discussed this, so just wanted to check in with you!
This file goes in the same bucket as the final export right?

[2020-01-10 18:22] jywarren commented on #21
That's right, it does!

On Fri, Jan 10, 2020 at 7:34 AM Varun Gupta <notifications@github.com>
wrote:

[2020-01-11 06:51] tech4GT commented on #21
@jywarren I have been thinking about the sever crashing on big exports, do you think it is possible that the server does not have the disk storage to store the export before uploading? I mean once the export is done we store the export as a file and this file is then uploaded to the cloud, following which we delete the file stored locally. Is it possible that the server does not have the disk stor

[2020-01-11 08:48] tech4GT commented on #21
Alright! I have the basic status json mechanism in place! All the fields are not yet being filled but it works for the export!
<img width="1352" alt="Screen Shot 2020-01-11 at 2 15 38 PM" src="https://user-images.githubusercontent.com/25617855/72201746-369c7100-347d-11ea-9011-6e2a03feb3f4.png">

[2020-01-11 13:30] jywarren commented on #21
Amazing! My integration work at mapknitter has also been progressing so
this is great. There's a new example file in here too:

https://github.com/publiclab/Leaflet.DistortableImage/pull/485

(Though it needs the images to be online so it doesn't work locally)

The disk space issue seems plausible.  How can we check or test this?

On Sat, Jan 11, 2020, 3:53 AM Varun Gupta <notifications@github.com

[2020-01-11 16:13] tech4GT commented on #21
Awesome! I'll try to research a bit about the disk space issue, or worst case we write code to store the output of all the steps in the bucket and then delete them as the compositing process is completed.

[2020-01-11 16:17] jywarren commented on #21
Super! Maybe there's a way to catch and handle errors at the container
level?

On Sat, Jan 11, 2020, 11:13 AM Varun Gupta <notifications@github.com> wrote:

[2020-01-11 16:20] tech4GT commented on #21
Hmm, there should be. I'm not really sure at this moment. Let me get back to you with a little more research!

[2020-01-11 16:37] tech4GT commented on #21
Oh! I just noticed something! The server restart occurs in the warping phase itself. So the disk issue should not be at play here. The status json has 4 phases: starting, warping, compositing, uploading, uploaded. The export which failed is stuck at warping.

[2020-01-11 16:45] tech4GT opened #38 "Add https support to the app"

[2020-01-11 21:10] jywarren opened #39 "Anonymous caller permissions error"
I've been testing this at the demo on Leaflet.DistortableImage, and have been getting some errors when on Chrome Android. One I had trouble capturing, another opened but the jpg link opened this:

https://www.googleapis.com/download/storage/v1/b/mapknitter-is/o/exportd88c76028c890dec20aa845636742c97-60076.html?generation=1578772553148875&alt=media

`Anonymous caller does not have storage.objects.g

[2020-01-11 21:14] jywarren commented on #39
Doing the testing from this demo: http://publiclab.github.io/Leaflet.DistortableImage/examples/export (shift drag or long press to select images to export and beware they're overridden with a static test dataset so they won't look the same as shown here.)

Ok the other bug I'm trying to capture here too, will split out once I'm able to:

https://storage.googleapis.com/mapknitter-is/d88c76028c890de

[2020-01-11 21:15] jywarren commented on #39
That last status jpg link just says "download failed" on chrome Android!

[2020-01-11 21:16] jywarren commented on #39
This link, for easy pressing. It's not a standard sharable cloud storage link, actually:

https://www.googleapis.com/download/storage/v1/b/mapknitter-is/o/exportd88c76028c890dec20aa845636742c97-60076.html?generation=1578777089819900&alt=media

[2020-01-11 21:17] jywarren commented on #39
By contrast, the Ruby exporter returns urls like this from Google storage:

https://mapknitter-exports-warps.storage.googleapis.com/1560464327/status.json

[2020-01-16 22:21] jywarren commented on #38
Great, linking to https://github.com/publiclab/mapknitter/issues/1191 as well!

[2020-02-14 11:30] tech4GT commented on #39
Ah, I see! The thing is that it worked in the browser. I'll see if I can get the other link!

[2020-02-15 05:20] tech4GT commented on #39
Hey @jywarren So this is the link to the status.json file, right? The link that you mentioned above is for the final export.
This is the metadata that we get from the api, I used the mediaLink from this. Do you see any other attribute that we can use?
[code]

[2020-03-04 06:02] tech4GT opened #40 "Tests Failing"
Look like the tests for the v2 api are now failing because of the way we are doing things now. Since, travis does not have the required gCloud credentials it cannot upload files to the bucket. Does travis allow configuring credentials?

cc @jywarren

[2020-03-25 19:55] jywarren commented on #41
I'm going to move this to image-sequencer-app!

[2020-03-25 19:56] tech4GT opened #41 "Geotiff Module"
@jywarren If you happen to have any resources regarding this, it would be really helpful. :smile:

Update: https://npmjs.com/geotiff

[2020-03-25 19:57] jywarren commented on #40
Should we mark file upload as a configurable option and do it the old way depending on a set options flag? Then the tests can just test the old way.

[2020-03-31 19:40] jywarren commented on #19
We are now testing the ruby exporter on production MapKnitter! https://github.com/publiclab/mapknitter/issues/1244

Integration happened here: https://github.com/publiclab/mapknitter/pull/1192

Corresponding implementation with `image-sequencer-app` can be found here; we should make a second export button maybe?

https://github.com/publiclab/Leaflet.DistortableImage/blob/3728b83e96858bbab0232700d6

[2020-04-08 23:33] jywarren commented on #38
Hi @tech4GT i hope you're well! We got the Ruby exporter online at https://stable.mapknitter.org today; docs here: https://publiclab.org/wiki/mapknitter-cloud-exporter

Next up will be connecting this one. I think SSL is still needed?

[2020-04-09 01:35] tech4GT commented on #38
Hi @jywarren Long time! Actually my health has not been the best, past few months. Sorry for that. Could you point me to some docs about setting up https on google cloud? I've done it on aws quite a few times but I can't seem to find the docs for google cloud. Do they have something like certificateManager?

[2020-04-10 18:03] jywarren commented on #38
Oh gosh i'm sorry to hear that. Please don't worry about this if it's any distraction!

My first inclination was to try https://34.74.118.242/api/v2/export/?url=http://mapknitter.org/maps/ceres--2/warpables.json&scale=30 but SSL on an IP address doesn't seem quite right: https://stackoverflow.com/questions/2043617/is-it-possible-to-have-ssl-certificate-for-ip-address-not-domain-name#2043645

I gue

[2020-04-10 18:18] jywarren commented on #36
Noting also possibility of uploading the JPG to Google Cloud Storage as well; i think it would involve changing these lines:

https://github.com/publiclab/image-sequencer-app/blob/744b521f08342569cea1baeec8670c3b778a3745/src/api/v2/util/process-multisequencer.js#L66-L79

I guess it would be, instead, something like ([ref](https://stackoverflow.com/questions/43487543/writing-binary-data-using-node-

[2020-04-10 18:20] jywarren commented on #36
OK i made a PR here: #36

But we will also need to change the status.json output file to now point at the correct JPG file.

[2020-04-10 18:22] jywarren commented on #36
Ah no, that will happen here: https://github.com/publiclab/image-sequencer-app/blob/a3060fb3348130192d1fb3a1efe333ebde03034f/src/api/v2/util/process-multisequencer.js#L80

So this might just work...?

[2020-04-10 18:25] jywarren commented on #38
Input from @icarito --

[2020-04-13 12:03] tech4GT commented on #38
Hi Jeff, thanks a lot for your wishes. I'll try my best to put in this work as soon as possible. I did go through this documentation but it looks like we would have to configure out exporter on a domain first, since to generate a certificate we need the domain that we'll be using. Anyway, would it be okay if we asked @icarito to help us on this since this uses a lot of stuff I'm not particularly f

[2020-04-13 12:14] tech4GT commented on #38
I also found this article which documents the process pretty comprehensively! Also, could you please point me to our deployment on gcloud? Thanks!

[2020-04-13 16:18] icarito commented on #38
Hi,
I'll look into this.
The current deployment can be found at http://34.74.118.242/

[2020-04-13 17:14] icarito commented on #38
For now I've added a DNS entry at http://export-js.mapknitter.org/
I'll be working on get a managed certificate in the afternoon, to enable HTTPS.

[2020-04-14 14:15] jywarren commented on #38
Awesome! Thanks @icarito!!

So testing would be at:

https://export-js.mapknitter.org/api/v2/export/?url=http://mapknitter.org/maps/ceres--2/warpables.json&scale=30

[2020-04-14 14:23] jywarren commented on #19
Updated status with in-progress #42 for direct JPG saving (needs help, but started)

[2020-04-14 18:33] tech4GT commented on #38
Thanks a lot for your help @icarito 😊

[2020-04-14 22:26] jywarren commented on #39
Maybe this would be solved by #42 ???

[2020-04-15 03:17] tech4GT commented on #39
Sure, I'll take a look at this pull request!

[2020-04-21 18:21] icarito commented on #38
Today I removed all deployment / services / ingresses related to this in our cluster, then went step by step thru https://cloud.google.com/kubernetes-engine/docs/how-to/managed-certs and still I get 502 server error from the external endpoint. I tried it without the ingress setup (just a load balancer) and it worked. Also the ingresses say backend services are UNHEALTHY whatever that means. I'll k

[2020-06-04 15:50] tech4GT commented on #38
Hi @jywarren I was trying out the export on `http://34.74.118.242/api/v2/export/?url=`. It does not load though.. did we move the deployment?

[2020-06-04 19:38] icarito commented on #38
Hi Varun,
I believe you are looking for this address? <http://34.107.200.136/>

It is erroring, let me know if you need me to look into it.

Regards,
Sebastian

El jue, 4 de jun de 2020 a las 08:50, Varun Gupta
<notifications@github.com> escribió:

[2021-03-02 21:26] jywarren commented on #16
We could use one of these multithreading approaches:

* https://keithwhor.github.io/multithread.js/
* http://madhugnadig.com/articles/parallel-processing/2017/03/29/the-guide-to-parallel-programming-in-javascript.html
* https://parallel.js.org/

On this line which forks processes:

https://github.com/publiclab/image-sequencer-app/blob/248fe08b17299660c9498c8efd24c6098d132f35/src/api/v2/index.js#L9